{{ 'shop/base' | javascript_include_tag }}

{% content_for title %}
  {{ page.title }}
{% endcontent_for %}

{% content_for meta_description %}
  {{ page.meta_description }}
{% endcontent_for %}

{% content_for meta_keywords %}
  {{ page.meta_keywords }}
{% endcontent_for %}

<main class="l-container" role="main">
  <div class="l-container__row u-margin__top--60">
    <header class="p-page_header">
      <div class="p-page_header__inner">
        <h1 class="p-page_header__inner__title u-text--head"></h1>
      </div>
    </header>
  </div>

  <div class="l-container__row u-margin__top--60 u-margin__bottom--100">
    <section class="p-page_content">
      <div class="p-page_content__inner u-text--body">
        <!-- 本文 -->
        {% if smartphone %}
          {{ parsed_content_mobile }}
        {% else %}
          {{ parsed_content }}
        {% endif %}
      </div>
    </section>
  </div>
</main>
