{{ 'shop/customer/base' | javascript_include_tag }}

<main class="l-container" role="main">
  <div class="l-container__row u-margin__top--60 u-margin__bottom--100">
    <div class="p-account">
      <div class="p-account__inner">
        <div class="p-account__inner__menu u-color__border--border">
          {% include 'ec_force/shop/snippets/sidebar.html' %}
        </div>
        <div class="p-account__inner__content">
          {% paginate invite_coupons_all by 10 %}
            <ul class="c-breadcrumbs">
              <li class="c-breadcrumbs__item u-text--link">
                <a class="c-breadcrumbs__item__inner" href="/shop/customer">{{ 'account.general.mypage.value' | t }}</a>
              </li>
              <li class="c-breadcrumbs__item u-text--body">
                <span class="c-breadcrumbs__item__inner">{{ 'orders.coupon.invite_coupon.value' | t }}</span>
              </li>
            </ul>
            <h1 class="p-account__inner__content__title u-text--head">{{ 'orders.coupon.invite_coupon.value' | t }}</h1>
            {% if invite_coupons.size != 0 %}
              <p class="p-account__inner__content__lead u-text--body">{{ 'orders.coupon.invite_coupon_lead_text.value' | t }}</p>
              {% if base_info.use_point? and invite_coupon_point != 0 %}
                <p class="p-account__inner__content__lead u-text--body">{{ 'orders.coupon.invite_coupon_point.value' | t }}（{{ 'orders.amount.points.value' | t}}{{invite_coupon_point}}{{ 'points.general.point.value' | t}}）</p>
              {% endif %}
              <div class="p-invite_coupon__list">
                <table class="c-account_table u-color__border--border invite_coupon__table">
                  <tbody>
                    <tr class="u-color__border--border u-color__bg--bg">
                      <th class="u-text--strong w40">{{ 'orders.coupon.coupon_name.value' | t }}</th>
                      <th class="u-text--strong w20">{{ 'general.general.expired.value' | t }}</th>
                      <th class="u-text--strong w40">{{ 'orders.coupon.invite_coupon_code.value' | t }}</th>
                    </tr>
                    {% for invite_coupon in invite_coupons %}
                      <tr>
                        <td class="u-text--body" data-title="{{ 'orders.coupon.coupon_name.value' | t }}：">{{ invite_coupon.name }}</td>
                        {% if invite_coupon.e_date %}
                          <td class="u-text--body" data-title="{{ 'general.general.expired.value' | t }}：">{{ invite_coupon.e_date | date: '%Y/%m/%d %H:%M:%S' }}</td>
                        {% else %}
                          <td class="u-text--body" data-title="{{ 'general.general.expired.value' | t }}：">{{ 'general.general.none.value' | t }}</td>
                        {% endif %}
                        <td class="u-text--body" data-title="{{ 'orders.coupon.invite_coupon_code.value' | t }}：">{{ invite_coupon.code }}_{{ current_customer.number }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% endif %}
            {% if paginate.items == 0 %}
              <span class="u-text--body">
                {{ 'orders.coupon.no_invite_coupon.value' | t }}
              </span>
            {% else %}
            <span class="u-text--body">
              {{ paginate.items }} {{ 'general.searches.page_all_search_result.value' | t }}
              {% assign per_page = paginate.page_size | times: paginate.current_page %}
              {{ per_page | minus: paginate.page_size | plus: 1 }} - {% if paginate.items < per_page %}{{ paginate.items }}{% else %}{{ per_page }}{% endif %} {{ 'general.searches.page_search_result_count.value' | t }}
            </span>
            {% endif %}
            <!-- ページネーション -->
            <div class="c-pagination">
              <ul class="c-pagination__list u-color__border--border u-color--head">
                {% if paginate.previous %}
                  <li class="c-pagination__list__item">
                    <a class="c-pagination__list__item__prev" href="{{ paginate.previous.url }}">
                      <i class="u-icon--arrow"></i>
                    </a>
                  </li>
                {% endif %}
                {% for page in paginate.parts %}
                  <li class="c-pagination__list__item u-color__border--main {% if paginate.current_page == page.title %} is-active{% endif %}">
                    {% if paginate.current_page == page.title %}
                      <span class="c-pagination__list__item__page">{{ page.title }}</span>
                    {% elsif page.is_link %}
                      <a class="c-pagination__list__item__page" href="{{ page.url }}">{{ page.title }}</a>
                    {% else %}
                      <span class="c-pagination__list__item__page">{{ page.title }}</span>
                    {% endif %}
                  </li>
                {% endfor %}
                {% if paginate.next %}
                  <li class="c-pagination__list__item">
                    <a class="c-pagination__list__item__next" href="{{ paginate.next.url }}">
                      <i class="u-icon--arrow"></i>
                    </a>
                  </li>
                {% endif %}
              </ul>
            </div>
          {% endpaginate %}
        </div>
      </div>
    </div>
  </div>
</main>
