{% if disable_header_feature_page_flg %}
  {% assign position_value = "static" %}
  {% assign visibility_value = "hidden" %}
{% endif %}
<header class="l-header u-color__bg--base u-color__border--border logo--{{section.settings.align_logo}}" data-section-id='header' data-section-type='header-section' style="position: {{ position_value }}">
  <style>
    .logo--left .logo__block {
      flex-grow: 1;
      padding-left: 20px;
    }
    .c-announce_bar {
      background-color: {{section.settings.color_bg}} !important;
      color: {{section.settings.color_text}} !important;
    }

    .c-gmenu__label {
      margin-top: 5%;
    }

    .c-gmenu__sales_price {
      width: 47%;
      display: inline-block;
    }

    .c-gmenu__from_to {
      margin: 0 1px 0 1px;
    }

    .c-gmenu__container__inner__search__toggle_name {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .c-gmenu__container__inner__search__toggle_wrap {
      display:flex;
      overflow-wrap: break-word;
    }
  </style>
  {% if production != true and customize_preview_mode %}
    <div class="customize_notice">
      <p>※プレビュー表示が崩れた場合は、一度保存してください。</p>
    </div>
  {% endif %}
  {% comment %} To use the inversion result in an if condition {% endcomment %}
  {% if shop_root %}
    {% assign top = false %}
  {% else %}
    {% assign top = true %}
  {% endif %}
  {% comment %} annoucement bar {% endcomment %}
  {% if section.settings.message == true or section.settings.message == 'true' %}
    {% comment %} Converted to boolean for use in if conditions {% endcomment %}
    {% if section.settings.top_only_message == false or section.settings.top_only_message == 'false' %}
      {% assign top_only_message_flg = false %}
    {% else %}
      {% assign top_only_message_flg = true %}
    {% endif %}
    {% unless top and top_only_message_flg %} {% comment %} unless a && !b {% endcomment %}
      <div class="c-announce_bar">
        <div class="c-announce_bar__text">{{ section.settings.message_text }}</div>{% comment %}Don't use escape{% endcomment %}
        <button class="c-announce_bar__close" type="button"><i class="u-icon--close"></i></button>
      </div>
    {% endunless %}
  {% endif %}
  {% comment %} end of announcement bar {% endcomment %}
  {% if section.settings.banner == true or section.settings.banner == 'true' %}
    {% if smartphone %}
      {% assign header_banner = section.settings.banner_sp %}
    {% else %}
      {% assign header_banner = section.settings.banner_pc %}
    {% endif %}
    {% if header_banner.size > 0 %}
      {% comment %} Converted to boolean for use in if conditions {% endcomment %}
      {% if section.settings.top_only_banner == false or section.settings.top_only_banner == 'false' %}
        {% assign top_only_banner_flg = false %}
      {% else %}
        {% assign top_only_banner_flg = true %}
      {% endif %}

      {% unless top and top_only_banner_flg %} {% comment %} unless a && !b {% endcomment %}
        <div class="p-banner p-banner--header">
          {% assign image_url = header_banner | generate_image_url: theme_file_root_path %}
          <p class="p-banner__image" style="background-image: url('{{ image_url }}')"></p>
          {% if section.settings.banner_link.size > 0 %}
          <a class="p-banner__link" href="{{section.settings.banner_link}}"></a>
          {% endif %}
        </div>
      {% endunless %}
    {% endif %}
  {% endif %}
  <div class="l-header__inner" style="min-height: 70px; max-height: {{section.settings.header_image_max_width}}px; height: auto;">
    <div class="l-header__inner__block u-color--head" style="visibility: {{ visibility_value }}">
      {% if customer_signed_in %}
        {% include 'ec_force/shop/snippets/member_menu.html' %}
      {% else %}
        {% include 'ec_force/shop/snippets/guest_menu.html' %}
      {% endif %}
      <button class="l-header__inner__block__item--search" type="button">
        <span class="l-header__inner__block__link">
          <i class="u-icon--search"></i>
        </span>
      </button>
    </div>
    {% if section.settings.header_logo_link == blank %}
      {% assign header_logo_link = '/shop' %}
    {% else %}
      {% assign header_logo_link = section.settings.header_logo_link %}
    {% endif %}
    {% if shop_root %}
      <h1 class="l-header__inner__block logo__block">
        <a class="l-header__inner__block__logo" href="{{ header_logo_link }}" style="max-width: {{section.settings.header_image_max_width}}px">
          {% if section.settings.image.size > 0 %}
            {% assign image_url = section.settings.image | generate_image_url: theme_file_root_path %}
            <img src="{{ image_url }}" style="max-width: {{section.settings.header_image_max_width}}px" alt="{{ base_info.meta_title }}">
          {% else %}
            {% if smartphone %}
              {% if base_info.mobile_logo and base_info.mobile_logo.url %}
                <img src="{{ base_info.mobile_logo.url }}" style="max-width: {{section.settings.header_image_max_width}}px" alt="{{ base_info.meta_title }}">
              {% endif %}
            {% else %}
              {% if base_info.logo and base_info.logo.url %}
                <img src="{{ base_info.logo.url }}" style="max-width: {{section.settings.header_image_max_width}}px" alt="{{ base_info.meta_title }}">
              {% endif %}
            {% endif %}
          {% endif %}
        </a>
      </h1>
    {% else %}
      <div class="l-header__inner__block logo__block">
        <a class="l-header__inner__block__logo" href="{{ header_logo_link }}" style="max-width: {{section.settings.header_image_max_width}}px">
          {% if section.settings.image.size > 0 %}
            {% assign image_url = section.settings.image | generate_image_url: theme_file_root_path %}
            <img src="{{ image_url }}" style="max-width: {{section.settings.header_image_max_width}}px">
          {% else %}
            {% if smartphone %}
              {% if base_info.mobile_logo and base_info.mobile_logo.url %}
                <img src="{{ base_info.mobile_logo.url }}" style="max-width: {{section.settings.header_image_max_width}}px">
              {% endif %}
            {% else %}
              {% if base_info.logo and base_info.logo.url %}
                <img src="{{ base_info.logo.url }}" style="max-width: {{section.settings.header_image_max_width}}px">
              {% endif %}
            {% endif %}
          {% endif %}
        </a>
      </div>
    {% endif %}
    <div class="l-header__inner__block u-color--head">
      {{ section.settings.icon_text }}
      {% if section.settings.member_name %}
        {{ current_customer.header_name }}
        &nbsp;{{ 'customer.general.title.value' | t }}
      {% endif %}
      <div class="l-header__inner__block__item" style="visibility: {{ visibility_value }}">
        <a class="l-header__inner__block__link" href="/shop/customer">
          {% if section.settings.icon_image.size > 0 %}
            {% assign image_url = section.settings.icon_image | generate_image_url: theme_file_root_path %}
            <img src="{{ image_url }}" style="max-width: 24px">
          {% else %}
            <i class="u-icon--account"></i>
          {% endif %}
        </a>
      </div>
      {% if base_info.use_cart_modal? and display_screen_flag_for_cart_modal %}
        {% assign cart_link = "#" %}
        {% assign use_backdrop = true %}
      {% else %}
        {% assign cart_link = "/shop/cart" %}
        {% assign use_backdrop = false %}
      {% endif %}
      <nav class="l-header__inner__block__item l-header__inner__block__item--cart" style="visibility: {{ visibility_value }}" data-use-backdrop="{{ use_backdrop }}">
        <a class="l-header__inner__block__link" href="{{ cart_link }}">
          <i class="u-icon--cart"></i>
          {% if order.completed? %}
            <span id="header-order-quantity" class="count u-color__bg--alert u-color__text--base">0</span>
          {% else %}
            <span id="header-order-quantity" class="count u-color__bg--alert u-color__text--base">{% if current_order %}{{ current_order.quantity }}{% else %}{{ order.quantity }}{% endif %}</span>
          {% endif %}
        </a>
        <div id="cart-addition-success" class="c-tooltip" style="display:none;">
          <div class="c-tooltip__content">
            <i class="u-icon--check_circle"></i>
            <p class="c-tooltip__text">カートに商品を<br>追加しました。</p>
          </div>
        </div>
      </nav>
    </div>
  </div>

  {% comment %} global nav {% endcomment %}
  <div class="c-gmenu">
    <div class="c-gmenu__overlay js-close-menu"></div>
    <nav class="c-gmenu__container u-color__bg--base">
      <div class="c-gmenu__container__inner">
        {% unless customer_signed_in %}
        <ul class="c-gmenu__container__inner__list u-color__border--border">
          <li class="c-gmenu__container__inner__list__item u-color__border--border">
            <ul class="c-gmenu__container__inner__list__item__child">
              <li class="c-gmenu__container__inner__list__item__child__item">
                <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead" href="/shop/customers/sign_up">
                  <span>会員登録</span>
                </a>
              </li>
              <li class="c-gmenu__container__inner__list__item__child__item">
                <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead" href="/shop/customers/sign_in">
                  <span>{{ 'account.general.login.value' | t }}</span>
                </a>
              </li>
            </ul>
          </li>
          {% for guest_menu in menus.guest_menus %}
            <li class="c-gmenu__container__inner__list__item u-color__border--border">
              <ul class="c-gmenu__container__inner__list__item__child">
                {% for menu in guest_menu %}
                  <li class="c-gmenu__container__inner__list__item__child__item">
                    <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead" href={{ menu['url'] }}>
                      {% if menu['translate'] == true %}
                        <span>{{ menu['text'] | t }}</span>
                      {% else %}
                        <span>{{ menu['text'] }}</span>
                      {% endif %}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          <li class="c-gmenu__container__inner__list__item u-color__border--border">
            <ul class="c-gmenu__container__inner__list__item__child">
              <li class="c-gmenu__container__inner__list__item__child__item">
                <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead" href="/shop/contact/draft">
                  <span>{{ 'contact.general.contact_title.value' | t }}</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        {% else %}
        <ul class="c-gmenu__container__inner__list u-color__border--border">
          <li class="c-gmenu__container__inner__list__item u-color__border--border">
            <ul class="c-gmenu__container__inner__list__item__child">
              <li class="c-gmenu__container__inner__list__item__child__item">
                <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead" href="/shop/customer/favorites">
                  <span>{{ 'products.favorites.favorite_list.value' | t }}</span>
                </a>
              </li>
              <li class="c-gmenu__container__inner__list__item__child__item">
                <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead" href="/shop/customer/orders">
                  <span>{{ 'orders.history.purchase_history.value' | t }}</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="c-gmenu__container__inner__list__item u-color__border--border">
            <ul class="c-gmenu__container__inner__list__item__child">
              <li class="c-gmenu__container__inner__list__item__child__item">
                <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead" href="/shop/customer/edit">
                  <span>{{ 'account.general.member_info.value' | t }}</span>
                </a>
              </li>
              <li class="c-gmenu__container__inner__list__item__child__item">
                <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead" href="/shop/customer/cards">
                  <span>{{ 'payments.credit_card.credit_card_info.value' | t }}</span>
                </a>
              </li>
              <li class="c-gmenu__container__inner__list__item__child__item">
                <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead" href="/shop/customer/password/edit">
                  <span>{{ 'account.password.password_change.value' | t }}</span>
                </a>
              </li>
              <li class="c-gmenu__container__inner__list__item__child__item">
                <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead" href="/shop/customer/subs_orders">
                  <span>{{ 'subs_orders.general.subs_orders.value' | t }}</span>
                </a>
              </li>
              {% if smaregi_enabled %}
                <li class="c-gmenu__container__inner__list__item__child__item">
                  <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead" href="/shop/customer/smaregi">
                    <span>{{ 'account.smaregi.barcode_link.value' | t }}</span>
                  </a>
                </li>
              {% endif %}
            </ul>
          </li>
          {% for member_menu in menus.member_menus %}
            <li class="c-gmenu__container__inner__list__item u-color__border--border">
              <ul class="c-gmenu__container__inner__list__item__child">
                {% for menu in member_menu %}
                  <li class="c-gmenu__container__inner__list__item__child__item">
                    <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead" href={{ menu['url'] }}>
                      {% if menu['translate'] == true %}
                        <span>{{ menu['text'] | t }}</span>
                      {% else %}
                        <span>{{ menu['text'] }}</span>
                      {% endif %}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
          <li class="c-gmenu__container__inner__list__item u-color__border--border">
            <ul class="c-gmenu__container__inner__list__item__child">
              <li class="c-gmenu__container__inner__list__item__child__item">
                <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead" href="/shop/contact/draft">
                  <span>{{ 'contact.general.contact_title.value' | t }}</span>
                </a>
              </li>
              <li class="c-gmenu__container__inner__list__item__child__item">
                <a class="c-gmenu__container__inner__list__item__child__item__inner u-text--subhead" href="/shop/customers/sign_out">
                  <span>{{ 'account.general.logout.value' | t }}</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        {% endunless %}
        {% if customer_signed_in %}
          {% assign all_products_menu = settings.settings.member_menu.settings.all_products_menu %}
          {% assign product_categories_menu = settings.settings.member_menu.settings.product_categories_menu %}
        {% else %}
          {% assign all_products_menu = settings.settings.guest_menu.settings.all_products_menu %}
          {% assign product_categories_menu = settings.settings.guest_menu.settings.product_categories_menu %}
        {% endif %}

        {% if all_products_menu == true or all_products_menu == 'true' %}
          {% assign display_all_products_menu_flg = true %}
        {% else %}
          {% assign display_all_products_menu_flg = false %}
        {% endif %}

        {% if product_categories_menu == true or product_categories_menu == 'true' %}
          {% assign display_product_categories_menu_flg = true %}
        {% else %}
          {% assign display_product_categories_menu_flg = false %}
        {% endif %}

        {% if display_all_products_menu_flg or display_product_categories_menu_flg %}
          <div class="c-gmenu__container__inner__list u-color__border--border">
            <div class="p-category_menu">
              {% if display_all_products_menu_flg %}
                <li class="p-category_menu__item p-category_menu__item--parent">
                  <div class="p-category_menu__toggle">
                    <a class="p-category_menu__text u-text--subhead" href="/shop/products">{{ 'products.general.all_product.value' | t }}</a>
                  </div>
                </li>
              {% endif %}
              {% if display_product_categories_menu_flg %}
                {% for product_category in product_categories %}
                  {% if product_category.product_category_visibility %}
                    {% unless product_category.parent %}
                      <li class="p-category_menu__item p-category_menu__item--parent">
                        <div class="p-category_menu__toggle">
                          <button class="p-category_menu__button u-text--subhead" type="button">
                            {{ product_category.name }}
                            <i class="u-icon--plus"></i>
                            <i class="u-icon--minus"></i>
                          </button>
                        </div>
                        <div class="p-category_menu__collapsible">
                          <ul class="p-category_menu">
                            <li class="p-category_menu__item p-category_menu__item--child">
                              <a class="p-category_menu__text u-text--body" href="/shop/product_categories/{{ product_category.slug }}">
                                {{ product_category.name }}{{ 'products.general.product_category_all_product.value' | t }}
                              </a>
                            </li>
                            {% for _category in product_categories %}
                              {% if _category.parent and _category.parent.slug == product_category.slug and _category.product_category_visibility %}
                                <li class="p-category_menu__item p-category_menu__item--child">
                                  <a class="p-category_menu__text u-text--body" href="/shop/product_categories/{{ _category.slug }}">
                                    {{ _category.name }}
                                  </a>
                                </li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </div>
                      </li>
                    {% endunless %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
      <button class="c-gmenu__container__close u-color--head js-close-menu">
        <i class="u-icon--close"></i>
      </button>
    </nav>
  </div>

  {% comment %} search menu {% endcomment %}
  <div class="p-search_menu u-text--body">
    <div class="p-search_menu__overlay js-close-menu"></div>
    <nav class="p-search_menu__container u-color__bg--base">
      <form class="p-search_menu__form" id="ec_force_product_search" action="/shop/search" accept-charset="UTF-8" method="get">
        <div class="p-search_menu__container__inner is-search">
            <p class="p-search_menu__container__inner__heading u-text--subhead u-font--bold">絞り込み検索</p>
            <div class="p-search_menu__container__inner__search u-color__border--border">
              <div class="p-search_menu__container__inner__search__part">
                <div class="p-search_menu__container__inner__search__part__label">
                  <span class="label_title u-text--subhead u-font--bold">キーワード</span>
                </div>
                <div class="p-search_menu__container__inner__search__part__content">
                  <div class="input_wrap is-text">
                    <input class="u-text--input u-color__input--bg u-color__border--input" type="search" name="q[freeword]" id="q_freeword" placeholder="{{ 'general.searches.placeholder.value' | t }}" value="{{ params["q"]["freeword"] }}">
                  </div>
                </div>
              </div>
              <div class="p-search_menu__container__inner__search__part">
                <div class="p-search_menu__container__inner__search__part__label">
                  <span class="label_title u-text--subhead u-font--bold">カテゴリー</span>
                </div>
                <div class="p-search_menu__container__inner__search__part__content">
                  <select id="q_products_product_categories_product_category_id_eq" class="js-custom-select" name="q[products_product_categories_product_category_id_eq]" placeholder="選択してください。">
                    {{ root_product_categories_with_subtree_hash | render_product_category_options: params["q"]["products_product_categories_product_category_id_eq"] }}
                  </select>
                </div>
              </div>
              {% if settings.settings.search.settings.search_sales_price == true or settings.settings.search.settings.search_sales_price == 'true' %}
                <div class="p-search_menu__container__inner__search__part">
                  <div class="p-search_menu__container__inner__search__part__label">
                    <span class="label_title u-text--subhead u-font--bold">販売価格</span>
                  </div>
                  <div class="p-search_menu__container__inner__search__part__content">
                    <div class="input_wrap is-range">
                      <input
                        id="q_sales_price_start"
                        class="u-text--input u-color__input--bg u-color__border--input c-gmenu__sales_price"
                        placeholder="{{ 'general.searches.minimum_price.value' | t }}"
                        type="number"
                        name="q[sales_price_start]"
                        value={{ params["q"]["sales_price_start"] }}
                      >
                      <span class="p-search_menu__from_to">〜</span>
                      <input
                        id="q_sales_price_end"
                        class="u-text--input u-color__input--bg u-color__border--input c-gmenu__sales_price"
                        placeholder="{{ 'general.searches.maximum_price.value' | t }}"
                        type="number"
                        name="q[sales_price_end]"
                        value={{ params["q"]["sales_price_end"] }}
                      >
                    </div>
                  </div>
                </div>
              {% endif %}
              <div class="p-search_menu__container__inner__search__part p-search_menu__container__inner__search__part--flex">
                {% if settings.settings.search.settings.search_in_stock == true or settings.settings.search.settings.search_in_stock == 'true' %}
                  <div class="p-search_menu__container__inner__search__part__content">
                    <label class='c-form_table__checkbox checkbox-inline p-search_menu__label'>
                      <input id="q_variants_stock_items" type="checkbox" name="q[variants_stock_items]" class='u-color__border--input' {% if params["q"]["variants_stock_items"] == "on" %} checked="checked" {% endif %}>
                      <span class="c-form_table__checkbox__frame u-color__btn"></span>
                      <span class="u-text--subhead u-font--bold">{{ 'general.searches.stock_item.value' | t }}</span>
                    </label>
                  </div>
                {% endif %}
                {% if settings.settings.search.settings.search_with_review == true or settings.settings.search.settings.search_with_review == 'true' %}
                  <div class="p-search_menu__container__inner__search__part__content">
                    <label class='c-form_table__checkbox checkbox-inline p-search_menu__label'>
                      <input id="q_reviews" type="checkbox" name="q[reviews]" class='u-color__border--input' {% if params["q"]["reviews"] == "on" %} checked="checked" {% endif %}>
                      <span class="c-form_table__checkbox__frame u-color__btn"></span>
                      <span class="u-text--subhead u-font--bold">{{ 'general.searches.review.value' | t }}</span>
                    </label>
                  </div>
                {% endif %}
              </div>
              {% if settings.settings.search.settings.search_label == true or settings.settings.search.settings.search_label == 'true' %}
                <div class="p-search_menu__container__inner__search__part">
                  <div class="p-search_menu__container__inner__search__part__label">
                    <span class="label_title u-text--subhead u-font--bold">タグ</span>
                  </div>
                  <div class="p-search_menu__container__inner__search__part__content">
                    <div class="p-search_menu__tags">
                      {% for product_label in product_labels %}
                      {% assign label_id = "" | append: product_label.id %}
                        <input
                          type="checkbox"
                          name="q[labels_id_in][]"
                          id="q_labels_id_in_{{ product_label.id }}"
                          class="u-color__border--input p-search_menu__checkbox"
                          {% if params["q"]["labels_id_in"] contains label_id %} checked="checked" {% endif %}
                          value="{{ product_label.id }}"
                        >
                        <label class="p-search_menu__label p-search_menu__label--tags c-form_table__checkbox checkbox-inline" for="q_labels_id_in_{{ product_label.id }}">
                          <span>{{ product_label.name }}</span>
                        </label>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
            <button type="button" class="p-search_menu__container__close u-color--head">
              <i class="u-icon--close"></i>
            </button>
            <div class="p-search_menu__container__searchbtn">
              <button name="button" class="u-color__text--base u-color__bg--sub js-gmenu-search-reset" type="button">
                <span>リセット</span>
              </button>
              <button name="button" class="u-color__text--base u-color__bg--accent js-gmenu-search-submit" type="submit">
                <span>絞り込み</span>
              </button>
            </div>
        </div>
      </form>
      <button class="p-search_menu__container__close js-close-menu">
        <i class="u-icon--close"></i>
      </button>
    </nav>
  </div>

</header>
