{% comment %}
  * [ECFDEV-14932]
  * 商品詳細のコンテンツ内のカスタマイズ項目ごとにcaptureを作成
  * 追加する場合は`key in section.position`内のcase文も追加すること
{% endcomment %}

{% comment %} バッジ表示 {% endcomment %}
{% capture badge %}
  {% if pre_order_badge_flg_hash[product.master.id] or delivery_group_badge_flg_hash[product.id] or concurrent_purchase_group_badge_flg_hash[product.id] %}
    <div class="c-product_info__badge u-text--body">
      <ul class="c-cart_item__badges">
        {% if pre_order_badge_flg_hash[product.master.id] %}
          <li class="c-badge">{{ 'products.pre_order.display_mark.value' | t }}</li>
        {% endif %}
        {% for delivery_group_name in product.delivery_group_names %}
          <li class="c-badge c-badge--delivery-group">{{ delivery_group_name }}</li>
        {% endfor %}
        {% for concurrent_purchase_badge_name in product.concurrent_purchase_badge_names %}
          <li class="c-badge c-badge--concurrent-purchase-group">{{ concurrent_purchase_badge_name }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endcapture %}
{%- comment -%}バッジ表示終了{%- endcomment -%}

{% comment %} カテゴリ {% endcomment %}
{% capture category %}
  <div class="c-product_info__category u-text--body" id="product-category">
    {% assign _category = '' %}
    {% for category in product.product_categories %}
      {% if category.product_category_visibility %}
        {% unless _category == '' %}
          {% assign _category = _category | append: ', ' %}
        {% endunless %}
        {% assign _category = _category | append: category.name %}
      {% endif %}
    {% endfor %}
    {{ _category }}
  </div>
{% endcapture %}

{% comment %} 商品名 {% endcomment %}
{% capture name %}
  <h1 class="c-product_info__title u-text--head" id="product-name">{{ product.name }}</h1>
{% endcapture %}

{% comment %} メーカー {% endcomment %}
{% capture maker %}
  {% if section.settings.maker == true or section.settings.maker == 'true' %}
    <div id="maker">
      {% if product.maker == null or product.maker.name == empty %}
        {% if customize_preview_mode %}
          <div class="u-text--body">こちらにメーカー情報が表示されます</div>
        {% endif %}
      {% elsif product.maker.url != empty %}
        <a class="u-text--link" id="maker-link" href="{{ product.maker.url }}" rel="nofollow" target="_blank">{{ product.maker.name }}</a>
      {% else %}
        <div class="u-text--body" id="maker-name">{{ product.maker.name }}</div>
      {% endif %}
    </div>
  {% endif %}
{% endcapture %}

{% comment %} 商品詳細 {% endcomment %}
{% capture detail %}
  {% if section.settings.detail == true or section.settings.detail == 'true' %}
    <div class="c-product_info__description u-text--body" id="product-description">
      {% if smartphone %}
        {{ product.description_mobile }}
      {% else %}
        {{ product.description }}
      {% endif %}
    </div>
    {{ badge }}
  {% endif %}
{% endcapture %}

{% comment %} レビュー評価 {% endcomment %}
{% capture review %}
  {% if base_info.use_review? %}
    {% assign is_readable = product.id | check_review_reading_rule %}
    {% if section.settings.review == true or section.settings.review == 'true' and is_readable %}
      {% assign star_avg = product.average_star %}
      <div id="average_star">
        {% if star_avg > 0 %}
          {% assign num_of_star_avg = star_avg | floor %}
          <div class="c-product_info__star">
            {% for i in (1..num_of_star_avg) %}
              ★
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
{% endcapture %}

{% comment %} 価格 {% endcomment %}
{% capture price %}
  <div class="c-product_info__price">
    <span id="product-price-content" class="u-text--subhead">
      {% if product.set.set_sale_method_product_price? %}
        {% if product.master.list_price > product.set.lowest_price %}
          {{ 'products.price.list_price.value' | t }}:
          <span class="list_price u-text--subhead">&yen;{{ product.master.list_price | number_with_delimiter }}</span>
          <span class="u-text--subhead">({{ 'products.price.tax_included.value' | t }} </span>
          <span class="list_price_include_tax u-text--subhead">&yen;{{ product.master.list_price_include_tax | number_with_delimiter }}</span>
          <span class="u-text--subhead">)</span>
          <br>
          {{ 'products.price.sales_price.value' | t }}:
          <span class="sales_price u-text--subhead">&yen;{{ product.set.lowest_price  | number_with_delimiter }}~</span>
          <span class="u-text--subhead"> &nbsp;({{ 'products.price.tax_included.value' | t }} </span>
          <span class="sales_price_include_tax u-text--subhead">&yen;{{ product.set.lowest_price_include_tax | number_with_delimiter }}~</span>
          <span class="u-text--subhead">)</span>
        {% else %}
          <span class="sales_price u-text--subhead">&yen;{{ product.set.lowest_price  | number_with_delimiter }}~</span>
          <span class="u-text--subhead">({{ 'products.price.tax_included.value' | t }} </span>
          <span class="sales_price-include-tax u-text--subhead">&yen;{{ product.set.lowest_price_include_tax | number_with_delimiter }}~</span>
          <span class="u-text--subhead">)</span>
        {% endif %}
      {% elsif product.master.list_price > product.first_price %}
        {{ 'products.price.list_price.value' | t }}:
        <span id="list-price" class="list_price u-text--subhead">&yen;{{ product.master.list_price | number_with_delimiter }}</span>
        <span class="u-text--subhead">({{ 'products.price.tax_included.value' | t }} </span>
        <span id="list-price-include-tax" class="list_price_include_tax u-text--subhead">&yen;{{ product.master.list_price_include_tax | number_with_delimiter }}</span>
        <span class="u-text--subhead">)</span>
        <br>
        {{ 'products.price.sales_price.value' | t }}:
        <span id="sales-price" class="sales_price u-text--subhead">&yen;{{ product.first_price | number_with_delimiter }}</span>
        <span class="u-text--subhead"> &nbsp;({{ 'products.price.tax_included.value' | t }} </span>
        <span id="sales-price-include-tax" class="sales_price_include_tax u-text--subhead">&yen;{{ product.first_price_include_tax | number_with_delimiter }}</span>
        <span class="u-text--subhead">)</span>
      {% else %}
        <span id="sales-price" class="sales_price u-text--subhead">&yen;{{ product.first_price | number_with_delimiter }}</span>
        <span class="u-text--subhead">({{ 'products.price.tax_included.value' | t }} </span>
        <span id="sales-price-include-tax" class="sales_price-include-tax u-text--subhead">&yen;{{ product.first_price_include_tax | number_with_delimiter }}</span>
        <span class="u-text--subhead">)</span>
      {% endif %}
    </span>
  </div>
{% endcapture %}

{% comment %} 併売商品 {% endcomment %}
{% capture co_selling_product %}
  {% if section.settings.co_selling_product == true or section.settings.co_selling_product == 'true' %}
    {% if customize_preview_mode or product.has_co_selling_product? %}
      <div class="c-product_info__form__buttons btn-flex c-product_info__form__subsdetail__input__inputwrap">
        <label class="c-product_info__form__submit u-text--btn--reverse u-color__btn--bg--reverse fix-hover btn-half" id="label-single-product">
            <input type="radio" name="co_selling_product" value="" checked="checked" id="btn-single-product">
            <span class="frame u-color__bg--base u-color__border--border"></span>
            <span class="label">{{ 'general.action.co_selling_product_single_purchase.value' | t }}</span>
          </label>
          <label class="c-product_info__form__submit u-text--btn--reverse u-color__btn--bg--reverse fix-hover btn-half c-product_lable" id="label-recurring-product">
            <input type="radio" name="co_selling_product" value="" id="btn-recurring-product">
            <span class="frame u-color__bg--base u-color__border--border"></span>
            <span class="label">{{ 'general.action.co_selling_product_recurring_purchase.value' | t }}</span>
          </label>
      </div>
    {% endif %}
  {% endif %}
{% endcapture %}

{% comment %} 規格 {% endcomment %}
{% capture variants %}
  <input id="variant-id" type="hidden" name="variant_id" value="{{ product.master.id }}" form="add-shop-cart-form">
  <div id="option_types" class="sortable c-product_info__form__variant u-color--input u-color__input--bg u-color__border--input"></div>
{% endcapture %}

{% comment %} 数量セレクタ {% endcomment %}
{% capture quantity %}
  {% if section.settings.quantity == true or section.settings.quantity == 'true' %}
    <div class="c-product_info__form__quantity">
      <label class="c-product_info__form__quantity__label u-text--body">{{ 'products.stock.quantity.value' | t }}</label>
      {% if product.distribution_club %}
        <span class="u-font--subhead"> 1個 </span>
        <input id="input-quantity" name="quantity" type="hidden" value="1" form="add-shop-cart-form">
      {% else %}
        <div class="c-product_info__form__quantity__wrap">
          <label class="c-order_quantity">
            <input id="input-quantity" name="quantity" class="c-order_quantity__input u-color--input u-color__input--bg u-color__border--input" type="number" min="{{ min_quantity }}" max="{{ max_quantity }}" value="{{ min_quantity }}" form="add-shop-cart-form">
            <button class="u-color--input" id="btn-minus" type="button"><i class="u-icon--minus"></i></button>
            <button class="u-color--input" id="btn-plus" type="button"><i class="u-icon--plus"></i></button>
          </label>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endcapture %}

{% comment %} 在庫数 {% endcomment %}
{% capture stock_items %}
  {% assign stock_items_setting = section.settings.stock_items.first %}
  {% if stock_items_setting.block_visibility == true or stock_items_setting.block_visibility == 'true' %}
    <div class="c-product_info__form__stock_items">
      <label class="c-product_info__form__stock_items__label u-text--body">{{ 'products.stock_items.quantity.value' | t }}</label>
      <div class="product_info__form__stock_items__wrap u-text--body">
        {% assign stock_items_by_sku = product.stock_items_by_sku %}
        {% assign sku_size = stock_items_by_sku.size %}
        {% for stock_item in stock_items_by_sku %}
          <div class="c-product_info__form__stock_items__row">
            {% if sku_size > 1 %}
              <div class="c-product_info__form__stock_items__sku_option">
                {% for sku_option in stock_item.sku_options %}
                  {{ sku_option.type }} : {{ sku_option.value }}
                  {% if forloop.index < stock_item.sku_options.size %}
                    /
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}
            <div class="product_info__form__stock_items__stock">
              {% if stock_item.stock_unlimited or stock_item.stock > 20 %}
                {{ 'products.stock_items.in_stock.value' | t }}
              {% else %}
                <span class="c-product_stock_items">
                  {% if stock_item.stock > 0 %}
                    {{ stock_item.stock }}
                    {% if stock_items_setting.units != '' %}
                      {{ stock_items_setting.units }}
                    {% endif %}
                  {% else %}
                    {{ 'products.stock_items.sold_out.value' | t }}
                  {% endif %}
                </span>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endcapture %}

{% comment %} キャンペーンカウントダウン {% endcomment %}
{% capture campaign_countdown %}
  {% if section.settings.campaign_countdown == true or section.settings.campaign_countdown == 'true' %}
    {% if customize_preview_mode %}
      <div class="c-product_info__campaign-container">
        <span class="c-product_info__campaign-icon">
          <img src="{{ 'icons/clock.svg' | asset_url }}">
        </span>
        <span class="c-product_info__campaign-text">セール終了まであと24時間</span>
      </div>
    {% else %}
      <div id="campaign">
        {% if display_countdown_flg %}
          <div class="c-product_info__campaign-container">
            <span class="c-product_info__campaign-icon">
              <img src="{{ 'icons/clock.svg' | asset_url }}">
            </span>
            <span class="c-product_info__campaign-text">セール終了まであと{{ campaign_end_date_left }}</span>
          </div>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
{% endcapture %}

{% comment %} カート追加ボタン（画面遷移なし） {% endcomment %}
{% capture add_cart_async %}
  <div class="c-product_info__form__buttons">
    {% if valid_pre_order_variant or customize_preview_mode %}
      {% if section.settings.add_cart_async == true or section.settings.add_cart_async == 'true' %}
        <button
          id="btn-add-async"
          class="c-product_info__form__submit c-product_info__form__submit--async u-text--btn u-color__btn--bg fix-hover"
          type="button"
          style="{{ display_setting }}">{{ 'general.action.add_cart_async.value' | t }}</button>
      {% endif %}
    {% endif %}
  </div>
{% endcapture %}

{% comment %} カート追加ボタン（画面遷移あり） {% endcomment %}
{% capture purchase %}
  <div class="c-product_info__form__buttons" id="pre_order_message">
    {% if valid_pre_order_variant or customize_preview_mode %}
      <button
        id="btn-add"
        class="c-product_info__form__submit u-text--btn u-color__btn--bg fix-hover"
        type="submit"
        form="add-shop-cart-form"
        style="{{ display_setting }}">{{ 'general.action.add_cart.value' | t }}</button>
    {% elsif enabled_pre_order and valid_pre_order_variant == false %}
      <div class="c-product_info__form__invalid-order default-hide" id="invalid_pre_order_description">
        <span class="c-product_info__notice">
          {{ 'general.message.when_out_of_pre_order_period.value' | t }}
        </span>
      </div>
    {% endif %}
  </div>
  <a
    id="btn-stock-waiting-list"
    class="c-product_info__form__submit u-text--btn u-color__btn--bg fix-hover"
    href="javascript:void(0);"
    style="display:none;">
    [{{ 'products.stock.sold_out.value' | t }}] {{ 'products.stock.stock_waiting_list.value' | t }}
  </a>
  {% if enabled_pre_order and product.master.pre_order.is_pre_order? %}
    {%- comment -%} お届け予定時期 {%- endcomment -%}
    <p class="c-product_info__description c-product_info__description--preorder">
      <span class="c-product_info__notice">
        {{ 'delivery.general.pre_ordered_delivery_description_snapshot.value' | t }}：{{ product.master.pre_order.pre_ordered_delivery_description }}
      </span>
      <span class="c-product_info__notice c-product_info__notice--with-pre-wrap">{{ pre_order_settings.notes }}</span>
    </p>
  {% endif %}
{% endcapture %}

{% comment %} お気に入り追加ボタン {% endcomment %}
{% capture favorite %}
  <div class="c-product_info__favorite">
    <button
      type="button"
      class="c-product_info__favorite__btn u-text--link js-favorite-async"
      data-is-favorite="{{ product.id | check_current_customer_favorite }}"
      data-add-value="{{ 'products.favorites.add.value' | t }}"
      data-adding-value="{{ 'products.favorites.adding.value' | t }}"
      data-cancel-value="{{ 'products.favorites.cancell.value' | t }}"
      data-canceling-value="{{ 'products.favorites.cancelling.value' | t }}"
    >
      <i class="favorite-icon u-color--head"></i>
      <span class="favorite-text u-text--link"></span>
    </button>
  </div>
{% endcapture %}

{% comment %} SKU詳細 {% endcomment %}
{% capture sku_detail %}
  <div class="c-product_info__description u-text--body" id="description"></div>
{% endcapture %}

{% comment %} SNSシェア {% endcomment %}
{% capture sns %}
  {% include 'ec_force/shop/snippets/sns.html' %}
{% endcapture %}

{% comment %} 注意喚起文 {% endcomment %}
{% capture caution %}
  {% comment %} NOTE: 注意喚起文は複数追加不可のブロックのためfirstで判定 {% endcomment %}
  {% assign caution_setting = section.settings.caution.first %}
  {% if caution_setting.block_visibility == true or caution_setting.block_visibility == 'true' %}
    {% if caution_setting.collapse_label != blank and caution_setting.collapse == true or caution_setting.collapse == 'true' %}
      {% assign caution_pc_only_class = 'pc' %}
      <details class="c-product_info__details">
        <summary class="c-product_info__details__summary js-accordion-trigger">
          <span class="c-product_info__details__summary_inner u-color--head">
            {{ caution_setting.collapse_label }}
            <i class="c-product_info__details__icon"></i>
          </span>
        </summary>
        <div class="c-product_info__details__content">
          <div class="c-product_info__details__content_inner u-color--body" id="caution--inner">
            {{ product.caution }}
          </div>
        </div>
      </details>
    {% endif %}
    <div class="c-product_info__caution u-text--body {{ caution_pc_only_class }}" id="caution">
      {{ product.caution }}
    </div>
  {% endif %}
{% endcapture %}

{% comment %} 自由入力01 {% endcomment %}
{% capture option01 %}
  {% comment %} NOTE: 自由入力01は複数追加不可のブロックのためfirstで判定 {% endcomment %}
  {% assign option01_setting = section.settings.option01.first %}
  {% if option01_setting.block_visibility == true or option01_setting.block_visibility == 'true' %}
    {% if option01_setting.collapse_label != blank and option01_setting.collapse == true or option01_setting.collapse == 'true' %}
      {% assign option01_pc_only_class = 'pc' %}
      <details class="c-product_info__details">
        <summary class="c-product_info__details__summary js-accordion-trigger">
          <span class="c-product_info__details__summary_inner u-color--head">
            {{ option01_setting.collapse_label }}
            <i class="c-product_info__details__icon"></i>
          </span>
        </summary>
        <div class="c-product_info__details__content">
          <div class="c-product_info__details__content_inner u-color--body" id="option01--inner">
            {{ product.option01 }}
          </div>
        </div>
      </details>
    {% endif %}
    <div class="c-product_info__option u-text--body {{ option01_pc_only_class }}" id="option01">
      {{ product.option01 }}
    </div>
  {% endif %}
{% endcapture %}

{% comment %} 自由入力02 {% endcomment %}
{% capture option02 %}
  {% comment %} NOTE: 自由入力02は複数追加不可のブロックのためfirstで判定 {% endcomment %}
  {% assign option02_setting = section.settings.option02.first %}
  {% if option02_setting.block_visibility == true or option02_setting.block_visibility == 'true' %}
    {% if option02_setting.collapse_label != blank and option02_setting.collapse == true or option02_setting.collapse == 'true' %}
      {% assign option02_pc_only_class = 'pc' %}
      <details class="c-product_info__details">
        <summary class="c-product_info__details__summary js-accordion-trigger">
          <span class="c-product_info__details__summary_inner u-color--head">
            {{ option02_setting.collapse_label }}
            <i class="c-product_info__details__icon"></i>
          </span>
        </summary>
        <div class="c-product_info__details__content">
          <div class="c-product_info__details__content_inner u-color--body" id="option02--inner">
            {{ product.option02 }}
          </div>
        </div>
      </details>
    {% endif %}
    <div class="c-product_info__option u-text--body {{ option02_pc_only_class }}" id="option02">
      {{ product.option02 }}
    </div>
  {% endif %}
{% endcapture %}

{% comment %} 自由入力03 {% endcomment %}
{% capture option03 %}
  {% comment %} NOTE: 自由入力03は複数追加不可のブロックのためfirstで判定 {% endcomment %}
  {% assign option03_setting = section.settings.option03.first %}
  {% if option03_setting.block_visibility == true or option03_setting.block_visibility == 'true' %}
    {% if option03_setting.collapse_label != blank and option03_setting.collapse == true or option03_setting.collapse == 'true' %}
      {% assign option03_pc_only_class = 'pc' %}
      <details class="c-product_info__details">
        <summary class="c-product_info__details__summary js-accordion-trigger">
          <span class="c-product_info__details__summary_inner u-color--head">
            {{ option03_setting.collapse_label }}
            <i class="c-product_info__details__icon"></i>
          </span>
        </summary>
        <div class="c-product_info__details__content">
          <div class="c-product_info__details__content_inner u-color--body" id="option03--inner">
            {{ product.option03 }}
          </div>
        </div>
      </details>
    {% endif %}
    <div class="c-product_info__option u-text--body {{ option03_pc_only_class }}" id="option03">
      {{ product.option03 }}
    </div>
  {% endif %}
{% endcapture %}

{% comment %} 自由入力04 {% endcomment %}
{% capture option04 %}
  {% comment %} NOTE: 自由入力04は複数追加不可のブロックのためfirstで判定 {% endcomment %}
  {% assign option04_setting = section.settings.option04.first %}
  {% if option04_setting.block_visibility == true or option04_setting.block_visibility == 'true' %}
    {% if option04_setting.collapse_label != blank and option04_setting.collapse == true or option04_setting.collapse == 'true' %}
      {% assign option04_pc_only_class = 'pc' %}
      <details class="c-product_info__details">
        <summary class="c-product_info__details__summary js-accordion-trigger">
          <span class="c-product_info__details__summary_inner u-color--head">
            {{ option04_setting.collapse_label }}
            <i class="c-product_info__details__icon"></i>
          </span>
        </summary>
        <div class="c-product_info__details__content">
          <div class="c-product_info__details__content_inner u-color--body" id="option04--inner">
            {{ product.option04 }}
          </div>
        </div>
      </details>
    {% endif %}
    <div class="c-product_info__option u-text--body {{ option04_pc_only_class }}" id="option04">
      {{ product.option04 }}
    </div>
  {% endif %}
{% endcapture %}

{% comment %} 自由入力05 {% endcomment %}
{% capture option05 %}
  {% comment %} NOTE: 自由入力05は複数追加不可のブロックのためfirstで判定 {% endcomment %}
  {% assign option05_setting = section.settings.option05.first %}
  {% if option05_setting.block_visibility == true or option05_setting.block_visibility == 'true' %}
    {% if option05_setting.collapse_label != blank and option05_setting.collapse == true or option05_setting.collapse == 'true' %}
      {% assign option05_pc_only_class = 'pc' %}
      <details class="c-product_info__details">
        <summary class="c-product_info__details__summary js-accordion-trigger">
          <span class="c-product_info__details__summary_inner u-color--head">
            {{ option05_setting.collapse_label }}
            <i class="c-product_info__details__icon"></i>
          </span>
        </summary>
        <div class="c-product_info__details__content">
          <div class="c-product_info__details__content_inner u-color--body" id="option05--inner">
            {{ product.option05 }}
          </div>
        </div>
      </details>
    {% endif %}
    <div class="c-product_info__option u-text--body {{ option05_pc_only_class }}" id="option05">
      {{ product.option05 }}
    </div>
  {% endif %}
{% endcapture %}

{% comment %} 自由入力06 {% endcomment %}
{% capture option06 %}
  {% comment %} NOTE: 自由入力06は複数追加不可のブロックのためfirstで判定 {% endcomment %}
  {% assign option06_setting = section.settings.option06.first %}
  {% if option06_setting.block_visibility == true or option06_setting.block_visibility == 'true' %}
    {% if option06_setting.collapse_label != blank and option06_setting.collapse == true or option06_setting.collapse == 'true' %}
      {% assign option06_pc_only_class = 'pc' %}
      <details class="c-product_info__details">
        <summary class="c-product_info__details__summary js-accordion-trigger">
          <span class="c-product_info__details__summary_inner u-color--head">
            {{ option06_setting.collapse_label }}
            <i class="c-product_info__details__icon"></i>
          </span>
        </summary>
        <div class="c-product_info__details__content">
          <div class="c-product_info__details__content_inner u-color--body" id="option06--inner">
            {{ product.option06 }}
          </div>
        </div>
      </details>
    {% endif %}
    <div class="c-product_info__option u-text--body {{ option06_pc_only_class }}" id="option06">
      {{ product.option06 }}
    </div>
  {% endif %}
{% endcapture %}

{% comment %} 自由入力07 {% endcomment %}
{% capture option07 %}
  {% comment %} NOTE: 自由入力07は複数追加不可のブロックのためfirstで判定 {% endcomment %}
  {% assign option07_setting = section.settings.option07.first %}
  {% if option07_setting.block_visibility == true or option07_setting.block_visibility == 'true' %}
    {% if option07_setting.collapse_label != blank and option07_setting.collapse == true or option07_setting.collapse == 'true' %}
      {% assign option07_pc_only_class = 'pc' %}
      <details class="c-product_info__details">
        <summary class="c-product_info__details__summary js-accordion-trigger">
          <span class="c-product_info__details__summary_inner u-color--head">
            {{ option07_setting.collapse_label }}
            <i class="c-product_info__details__icon"></i>
          </span>
        </summary>
        <div class="c-product_info__details__content">
          <div class="c-product_info__details__content_inner u-color--body" id="option07--inner">
            {{ product.option07 }}
          </div>
        </div>
      </details>
    {% endif %}
    <div class="c-product_info__option u-text--body {{ option07_pc_only_class }}" id="option07">
      {{ product.option07 }}
    </div>
  {% endif %}
{% endcapture %}

{% comment %} 自由入力08 {% endcomment %}
{% capture option08 %}
  {% comment %} NOTE: 自由入力08は複数追加不可のブロックのためfirstで判定 {% endcomment %}
  {% assign option08_setting = section.settings.option08.first %}
  {% if option08_setting.block_visibility == true or option08_setting.block_visibility == 'true' %}
    {% if option08_setting.collapse_label != blank and option08_setting.collapse == true or option08_setting.collapse == 'true' %}
      {% assign option08_pc_only_class = 'pc' %}
      <details class="c-product_info__details">
        <summary class="c-product_info__details__summary js-accordion-trigger">
          <span class="c-product_info__details__summary_inner u-color--head">
            {{ option08_setting.collapse_label }}
            <i class="c-product_info__details__icon"></i>
          </span>
        </summary>
        <div class="c-product_info__details__content">
          <div class="c-product_info__details__content_inner u-color--body" id="option08--inner">
            {{ product.option08 }}
          </div>
        </div>
      </details>
    {% endif %}
    <div class="c-product_info__option u-text--body {{ option08_pc_only_class }}" id="option08">
      {{ product.option08 }}
    </div>
  {% endif %}
{% endcapture %}

{% comment %} 自由入力09 {% endcomment %}
{% capture option09 %}
  {% comment %} NOTE: 自由入力09は複数追加不可のブロックのためfirstで判定 {% endcomment %}
  {% assign option09_setting = section.settings.option09.first %}
  {% if option09_setting.block_visibility == true or option09_setting.block_visibility == 'true' %}
    {% if option09_setting.collapse_label != blank and option09_setting.collapse == true or option09_setting.collapse == 'true' %}
      {% assign option09_pc_only_class = 'pc' %}
      <details class="c-product_info__details">
        <summary class="c-product_info__details__summary js-accordion-trigger">
          <span class="c-product_info__details__summary_inner u-color--head">
            {{ option09_setting.collapse_label }}
            <i class="c-product_info__details__icon"></i>
          </span>
        </summary>
        <div class="c-product_info__details__content">
          <div class="c-product_info__details__content_inner u-color--body" id="option09--inner">
            {{ product.option09 }}
          </div>
        </div>
      </details>
    {% endif %}
    <div class="c-product_info__option u-text--body {{ option09_pc_only_class }}" id="option09">
      {{ product.option09 }}
    </div>
  {% endif %}
{% endcapture %}

{% comment %} 自由入力10 {% endcomment %}
{% capture option10 %}
  {% comment %} NOTE: 自由入力10は複数追加不可のブロックのためfirstで判定 {% endcomment %}
  {% assign option10_setting = section.settings.option10.first %}
  {% if option10_setting.block_visibility == true or option10_setting.block_visibility == 'true' %}
    {% if option10_setting.collapse_label != blank and option10_setting.collapse == true or option10_setting.collapse == 'true' %}
      {% assign option10_pc_only_class = 'pc' %}
      <details class="c-product_info__details">
        <summary class="c-product_info__details__summary js-accordion-trigger">
          <span class="c-product_info__details__summary_inner u-color--head">
            {{ option10_setting.collapse_label }}
            <i class="c-product_info__details__icon"></i>
          </span>
        </summary>
        <div class="c-product_info__details__content">
          <div class="c-product_info__details__content_inner u-color--body u-color--body" id="option10--inner">
            {{ product.option10 }}
          </div>
        </div>
      </details>
    {% endif %}
    <div class="c-product_info__option u-text--body {{ option10_pc_only_class }}" id="option10">
      {{ product.option10 }}
    </div>
  {% endif %}
{% endcapture %}

{% comment %} 共通HTML1 {% endcomment %}
{% capture common_html_01 %}
  {% for content in section.settings.common_html_01 %}
    {{ content.html }}
  {% endfor %}
{% endcapture %}

{% comment %} 共通HTML2 {% endcomment %}
{% capture common_html_02 %}
  {% for content in section.settings.common_html_02 %}
    {{ content.html }}
  {% endfor %}
{% endcapture %}

{% comment %} 共通HTML3 {% endcomment %}
{% capture common_html_03 %}
  {% for content in section.settings.common_html_03 %}
    {{ content.html }}
  {% endfor %}
{% endcapture %}

{% comment %} 商品テキスト(商品カテゴリ) {% endcomment %}
{% capture extra_text_from_product_category %}
  {% if section.settings.extra_text_from_product_category == true or section.settings.extra_text_from_product_category == 'true' %}
    <div id="product-extra-text">
      {% for product_extra_text in product.extra_text_from_product_category %}
        <div class="c-product_info__extra_text_from_product_category u-text--body">
          {{ product_extra_text }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endcapture %}

{% comment %} 商品画像 {% endcomment %}
{% capture product_thumbnails %}
  {% if section.settings.product_thumbnail_display_type == 'slideshow' %}
    {% assign type_slideshow = true %}
  {% else %}
    {% assign type_slideshow = false %}
  {% endif %}
  {% assign thumbnails = product.master.thumbnails %}
  {% assign thumbnails_size = thumbnails.size %}
  {% assign option_values_presentation = product.master.option_values_presentation %}
  {% if option_values_presentation %}
    {% assign alt = product.name | append: ' ' | append: option_values_presentation %}
  {% else %}
    {% assign alt = product.name %}
  {% endif %}
  {% assign product_thumbnail_url = product.thumbnail.url %}

  {% if thumbnails_size > 0 %}
    {% if type_slideshow %}
      {% for thumbnail in thumbnails %}
        <li class="c-product_img__item splide__slide">
          <img class="c-product_img__image" src="{{ thumbnail.url }}" alt="{{ alt }}">
        </li>
      {% endfor %}
    {% else %}
      {% for thumbnail in thumbnails %}
        <li class="c-product_img__item">
          <img class="c-product_img__image" src="{{ thumbnail.url }}" alt="{{ alt }}">
        </li>
      {% endfor %}
    {% endif %}
  {% else %}
    {% if product_thumbnail_url %}
      {% assign src = product_thumbnail_url %}
    {% else %}
      {% assign src = 'missing' | image_url %}
      {% assign alt = '' %}
    {% endif %}
    <li class="c-product_img__item {% if type_slideshow %}splide__slide{% endif %}">
      <img class="c-product_img__image" src="{{ src }}" alt="{{ alt }}">
    </li>
  {% endif %}
{% endcapture %}

<div class='p-product_content__inner' data-section-id='products_show_content' data-section-type='products_show_content-section'>
  {% if type_slideshow %}
    <div class="p-product_content__inner__img">
      <div class="c-product_img">
        {% comment %} メイン画像のスライダー {% endcomment %}
        <div class="c-product_img__slider c-product_img__slider--main splide">
          <div class="c-product_img__track splide__track">
            <ul class="c-product_img__list splide__list">
              {{ product_thumbnails }}
            </ul>
          </div>
        </div>
        {% comment %} サムネイル画像のスライダー {% endcomment %}
        <div class="c-product_img__slider c-product_img__slider--thumbnail splide">
          <div class="c-product_img__track splide__track">
            <ul class="c-product_img__list splide__list">
              {{ product_thumbnails }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class='p-product_content__inner__img'>
      <div class='c-product_img'>
        <div class='c-product_img__list__vertical' style="row-gap: {{ section.settings.vertical_display_y_margin }}px;display: grid;{% unless smartphone %}margin-bottom: 40px;{% endunless %}">
            {{ product_thumbnails }}
        </div>
      </div>
    </div>
  {% endif %}

  {% assign right_area_fixed_style = '' %}
  {% if section.settings.right_area_fixed == true or section.settings.right_area_fixed == 'true' %}
    {% if type_slideshow == false and smartphone == false %}
      {% assign right_area_fixed = 'p-product_content__inner__sticky' %}
    {% endif %}
  {% endif %}
  {% comment %} 以下でcaptureしたcase文をループして出力 {% endcomment %}
  <section class="p-product_content__inner__info {{ right_area_fixed }}">
    <div class="c-product_info">
      {% unless customize_preview_mode %}
        {% assign display_setting = "display:none;" %}
      {% endunless %}
      <form id="add-shop-cart-form" action="/shop/cart/add" method="post">
        {% authenticity_token_tag %}
        {% for key in section.position %}
          {% case key %}
            {% when 'category' %}{{ category }}
            {% when 'name' %}{{ name }}
            {% when 'maker' %}{{ maker }}
            {% when 'detail' %}{{ detail }}
            {% when 'review' %}{{ review }}
            {% when 'price' %}{{ price }}
            {% when 'co_selling_product' %}{{ co_selling_product }}
            {% when 'variants' %}{{ variants }}
            {% when 'quantity' %}{{ quantity }}
            {% when 'stock_items' %}{{ stock_items }}
            {% when 'campaign_countdown' %}{{ campaign_countdown }}
            {% when 'add_cart_async' %}{{ add_cart_async }}
            {% when 'purchase' %}{{ purchase }}
            {% when 'favorite' %}{{ favorite }}
            {% when 'sku_detail' %}{{ sku_detail }}
            {% when 'sns' %}{{ sns }}
            {% when 'caution' %}{{ caution }}
            {% when 'option01' %}{{ option01 }}
            {% when 'option02' %}{{ option02 }}
            {% when 'option03' %}{{ option03 }}
            {% when 'option04' %}{{ option04 }}
            {% when 'option05' %}{{ option05 }}
            {% when 'option06' %}{{ option06 }}
            {% when 'option07' %}{{ option07 }}
            {% when 'option08' %}{{ option08 }}
            {% when 'option09' %}{{ option09 }}
            {% when 'option10' %}{{ option10 }}
            {% when 'common_html_01' %}{{ common_html_01 }}
            {% when 'common_html_02' %}{{ common_html_02 }}
            {% when 'common_html_03' %}{{ common_html_03 }}
            {% when 'extra_text_from_product_category' %}{{ extra_text_from_product_category }}
          {% endcase %}
        {% endfor %}
      </form>
    </div>
  </section>
</div>
