<section class="p-product_list" data-section-id='sale_ranking_show_content' data-section-type='sale_ranking_show_content-section'>
  <div id="add_product_async_view">
    <div id="cart-addition-failure" class="p-product_alert" style="display:none;">
      <div class="control-alert alert-danger">
        <div class="text u-color__bg--bg u-color__text--alert">
          <div>
            <p id="addition-failure-message"></p>
            <p id="btn-show-addition-failure-details" class="p-product_alert__details_show_btn" style="display:none;">さらに詳しく</p>
          </div>

          <div>
            <p id="addition-failure-details" class="p-product_alert__details" style="display:none;"></p>
            <p id="btn-hide-addition-failure-details" class="p-product_alert__details_hide_btn" style="display:none;">閉じる</p>
          </div>
        </div>
      </div>
    </div>

    <div class="l-container__row u-margin__top--80 u-margin__bottom--80">
      <header class="p-page_header">
        <div class="p-page_header__inner">
          <h1 class="p-page_header__inner__title u-text--head">{{ section.settings.head | escape }}</h2>
        </div>
      </header>

      <div class="l-container__row u-margin__top--60">
        <ul class="p-product_list__list">
        {% for sale_ranking in sale_rankings %}
          {% comment %}TOP3に入る商品かどうか{% endcomment %}
          {% assign is_top_three = false %}
          {% assign sale_ranking_rank_int = sale_ranking.rank | plus: 0 %}
          {% if sale_ranking_rank_int <= 3 %}
            {% assign is_top_three = true %}
          {% endif %}

          {% assign is_new = sale_ranking.product.product_is_new? %}
          {% assign is_sold = sale_ranking.product.out_of_stock_for_sale? %}

          <li class="p-product_list__list__item medium-up--one-{{section.settings.sale_ranking_line_size}}">
            <div class="c-product_item">
              <a class="c-product_item__link" href="/shop/products/{{ sale_ranking.product.master.sku }}"></a>
              <div class="c-product_item__inner__eyecatch">
                {% if sale_ranking.product.thumbnail.url %}
                  {% assign thumbnail = sale_ranking.product.thumbnail.url %}
                {% else %}
                  {% assign thumbnail = 'missing' | image_url  %}
                {% endif %}
                <div class="c-product_item__inner__eyecatch__img" style="background-size:contain;background-image:url({{ thumbnail }})"></div>

                <div class="c-product_item__inner__eyecatch__tags">
                  <div class="c-product_ranking"{% if is_top_three %}data-is-top-three=true{% endif %}>
                    <span class="c-product_ranking__text">{{ sale_ranking.rank }}</span>
                  </div>
                  {% if is_new %}
                    <div class="c-product_item__inner__eyecatch__tags__new">{{ 'products.general.new.value' | t }}</div>
                  {% endif %}
                  {% if is_sold %}
                    <div class="c-product_item__inner__eyecatch__tags__soldout">{{ 'products.stock.sold_out.value' | t }}</div>
                  {% endif %}
                </div>

                <div class="c-product_item__actions">
                  {% unless is_sold %}
                    {% if settings.settings.icon.settings.add_cart_async and sale_ranking.product.not_set? %}
                      <button class="btn-add-async c-product_item__form--cart c-product_item__button c-product_item__button--cart u-color__btn--text u-color__btn--bg" data-variant-id="{{sale_ranking.product.master.id}}" data-quantity="{{sale_ranking.product.master.min_quantity}}">
                        <i class="u-icon--cart"></i>
                      </button>
                    {% else %}
                      <form class="c-product_item__form c-product_item__form--cart" action="/shop/cart/add" method="post">
                        {% authenticity_token_tag %}
                        <input name="variant_id" type="hidden" value="{{ sale_ranking.product.master.id }}">
                        <input name="quantity" type="hidden" value="{{ sale_ranking.product.master.min_quantity }}">
                        <button class="c-product_item__button c-product_item__button--cart u-color__btn--text u-color__btn--bg" type="submit">
                          <i class="u-icon--cart"></i>
                        </button>
                      </form>
                    {% endif %}
                  {% endunless %}

                  {% assign is_favorite = sale_ranking.product.id | check_current_customer_favorite %}
                  {% if is_favorite %}
                    <form
                      class="c-product_item__form c-product_item__form--favorite"
                      action="/shop/products/{{ sale_ranking.product.master.sku }}/unfavorite?customer_return_to=%2Fshop%2Fproducts%2F{{ sale_ranking.product.master.sku }}"
                      method="post">
                      {% authenticity_token_tag %}
                      <button class="c-product_item__button c-product_item__button--favorite u-color__btn u-color__btn--text--bg" type="submit">
                        <i class="u-icon--heart"></i>
                      </button>
                    </form>
                  {% else %}
                    <form
                      class="c-product_item__form c-product_item__form--favorite"
                      action="/shop/products/{{ sale_ranking.product.master.sku }}/favorite?customer_return_to=%2Fshop%2Fproducts%2F{{ sale_ranking.product.master.sku }}"
                      method="post">
                      {% authenticity_token_tag %}
                      <button class="c-product_item__button c-product_item__button--favorite u-color__btn--text u-color__btn--bg" type="submit">
                        <i class="u-icon--heart"></i>
                      </button>
                    </form>
                  {% endif %}
                </div>
              </div>

              <div class="c-product_item__inner__content">
                {%- comment -%}商品名{%- endcomment -%}
                <div class="c-product_item__inner__title u-text--subhead">{{ sale_ranking.product.name }}</div>

                {%- comment -%}カテゴリ{%- endcomment -%}
                <div class="c-product_item__inner__category u-text--subhead">
                  {% assign _category = '' %}
                  {% for category in sale_ranking.product.product_categories %}
                    {% if category.product_category_visibility %}
                      {% unless _category == '' %}
                        {% assign _category = _category | append: ', ' %}
                      {% endunless %}
                      {% assign _category = _category | append: category.name %}
                    {% endif %}
                  {% endfor %}
                  {{ _category }}
                </div>

                {%- comment -%}商品価格{%- endcomment -%}
                <div class="c-product_item__inner__price u-text--body">
                  {% if sale_ranking.product.master.list_price > sale_ranking.product.first_price %}
                    <div class="c-product_item__inner__price u-text--body">
                      <span class="origin">&yen;{{ sale_ranking.product.master.list_price | number_with_delimiter }}</span>
                      <span class="sale u-color__text--alert">&yen;{{ sale_ranking.product.first_price | number_with_delimiter }}</span>
                      <span>&nbsp;({{ 'products.price.tax_included.value' | t }}</span>
                      <span id="sale u-color__text--alert">&yen;{{ sale_ranking.product.first_price_include_tax | number_with_delimiter }}</span>
                      <span>)</span>
                    </div>
                  {% else %}
                    <div class="c-product_item__inner__price u-text--body">
                      <span class="price">&yen;{{ sale_ranking.product.first_price | number_with_delimiter }}</span>
                      <span>&nbsp;({{ 'products.price.tax_included.value' | t }}</span>
                      <span id="price">&yen;{{ sale_ranking.product.first_price_include_tax | number_with_delimiter }}</span>
                      <span>)</span>
                    </div>
                  {% endif %}
                </div>

                {%- comment -%}商品詳細{%- endcomment -%}
                {% if section.settings.product_show == true or section.settings.product_show == 'true' %}
                  {% if sale_ranking.product.parsed_description %}
                    <div class="c-product_item__inner__price u-text--body" style="word-break: break-all;">
                      {% assign product_show_description_size = section.settings.product_show_description_size | times: 1 %}
                      {% if smartphone %}
                        {% assign parsed_description_mobile = sale_ranking.product.parsed_description_mobile | strip_html | strip_newlines %}
                        {% if parsed_description_mobile.size > product_show_description_size %}
                          {{ parsed_description_mobile | truncate: product_show_description_size, '' | append: '...' }}
                        {% else %}
                          {{ parsed_description_mobile | truncate: product_show_description_size, '' }}
                        {% endif %}
                      {% else %}
                        {% assign parsed_description = sale_ranking.product.parsed_description | strip_html | strip_newlines %}
                        {% if parsed_description.size > product_show_description_size %}
                          {{ parsed_description | truncate: product_show_description_size, '' | append: '...' }}
                        {% else %}
                          {{ parsed_description | truncate: product_show_description_size, '' }}
                        {% endif %}
                      {% endif %}
                    </div>
                  {% endif %}
                {% endif %}

                {%- comment -%}バッジ表示開始{%- endcomment -%}
                {% if pre_order_badge_flg_hash[sale_ranking.product.master.id] or delivery_group_badge_flg_hash[sale_ranking.product.id] or concurrent_purchase_group_badge_flg_hash[sale_ranking.product.id] %}
                  <div class="c-product_item__inner__badge u-text--body">
                    <ul class="c-cart_item__badges">
                      {% if pre_order_badge_flg_hash[sale_ranking.product.master.id] %}
                        <li class="c-badge">{{ 'products.pre_order.display_mark.value' | t }}</li>
                      {% endif %}
                      {% for delivery_group_name in sale_ranking.product.delivery_group_names %}
                        <li class="c-badge c-badge--delivery-group">{{ delivery_group_name }}</li>
                      {% endfor %}
                      {% for concurrent_purchase_badge_name in sale_ranking.product.concurrent_purchase_badge_names %}
                        <li class="c-badge c-badge--concurrent-purchase-group">{{ concurrent_purchase_badge_name }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
                {%- comment -%}バッジ表示終了{%- endcomment -%}

                {%- comment -%}レビュー評価{%- endcomment -%}
                {% if base_info.use_review? %}
                  {% assign is_readable = sale_ranking.product.id | check_review_reading_rule %}
                  {% if is_readable %}
                    {% assign star_avg = sale_ranking.product.review_average_score %}
                    {% if star_avg > 0 %}
                      {% assign num_of_star_avg = star_avg | floor %}
                      <div class="review">
                        {% if section.settings.product_review_star_show == true or section.settings.product_review_star_show == 'true' %}
                          <span class="u-text--body">{{ star_avg }}</span>
                          <span class="c-product_item__inner__star">
                            {% for i in (1..num_of_star_avg) %}
                              ★
                            {% endfor %}
                          </span>
                        {% endif %}
                        {%- comment -%}レビュー件数{%- endcomment -%}
                        {% if section.settings.product_review_count_show == true or section.settings.product_review_count_show == 'true' %}
                          <span class="u-text--body">({{ sale_ranking.product.review_count | number_with_delimiter }})</span>
                        {% endif %}
                      </div>
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>

            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
