<div class="p-password_content" data-section-id="password_content">
  <h1 class="p-password__title" style="font-size: {{section.settings.title_font_size}}px;">{{ section.settings.title | escape }}</h1>
  <p class="p-password__text" style="font-size: {{section.settings.body_font_size}}px;">{{ base_info.message_to_visitors | newline_to_br }}</p>
  {% unless password_authenticated %}
    <a class="p-password__link u-color__text--accent" href="/password/new" style="font-size: {{section.settings.body_font_size}}px;">{{ section.settings.link | escape }}</a>
  {% endunless %}
</div>
