<div class="p-password_header" data-section-id="password_header">
  {% if section.settings.image_or_text == "image" %}
    {% if section.settings.image.size > 0 %}
      {% assign image_url = section.settings.image | generate_image_url: theme_file_root_path %}
      <img class="p-password__logo" src="{{ image_url }}" style="max-width: {{section.settings.image_max_width}}px" alt="{{ base_info.shop_name }}">
    {% else %}
      {% if base_info.logo and base_info.logo.url.size > 0 %}
        <img class="p-password__logo" src="{{ base_info.logo.url }}" style="max-width: {{section.settings.image_max_width}}px" alt="{{ base_info.shop_name }}">
      {% endif %}
    {% endif %}
  {% else %}
    <div class="p-password__logo" style="font-size: {{section.settings.text_font_size}}px;">{{ section.settings.text | escape }}</div>
  {% endif %}
</div>