{{ 'shop/customers/passwords' | javascript_include_tag }}

<main id='customers-password-new-view' class="l-container" role="main">
  <div class="l-container__row u-margin__top--60">
    {{ 'notice' | flash: 'control-alert alert-success', 'text u-color__bg--bg u-color__text--alert' }}
    {{ 'alert' | flash: 'control-alert alert-danger', 'text u-color__bg--bg u-color__text--alert' }}
    {{ 'error' | flash: 'control-alert alert-danger', 'text u-color__bg--bg u-color__text--alert' }}
    <header class="p-page_header">
      <div class="p-page_header__inner">
        <h1 class="p-page_header__inner__title u-text--head">{{ 'account.password.password_reset.value' | t }}</h1>
        {% if base_info.use_sms_active? %}
          <p class="p-page_header__inner__lead u-text--body">{{ 'account.password.password_reset_sms_lead_text.value' | t }}</p>
        {% else %}
          <p class="p-page_header__inner__lead u-text--body">{{ 'account.password.password_reset_lead_text.value' | t }}</p>
        {% endif %}
      </div>
    </header>
  </div>
  <div class="l-container__row u-margin__top--60 u-margin__bottom--100">
    <form class="p-account_form" role="form" id="new_customer" action="/shop/customers/password" accept-charset="UTF-8" method="post">
      {% csrf_meta_tags %}
      <div class="p-account_form__inner">
        <table class="c-form_table">
          <tbody>
            <tr>
              {% if base_info.use_sms_active? %}
                <th class="u-text--body">{{ 'customer.general.email_or_phone.value' | t }}</th>
              {% else %}
                <th class="u-text--body">{{ 'customer.general.email.value' | t }}</th>
              {% endif %}
              <td><input autofocus="autofocus" class="u-text--input u-color__input--bg u-color__border--input validate[required,custom[email]]" type="email" name="customer[email]" autocomplete="email" id="customer_email"></td>
            </tr>
          </tbody>
        </table>
        <div class="p-account_form__inner__bottom">
          <input class="p-account_form__inner__bottom__mailbtn u-text--btn u-color__btn--bg" type="submit"  name="commit" value="{{ 'account.password.send_reset_password_mail.value' | t }}">
          <a class="p-account_form__inner__bottom__link u-text--link" href="/shop/customers/sign_in">{{ 'account.general.to_login_page.value' | t }}</a>
        </div>
      </div>
    </form>
  </div>
</main>

{% content_for meta_description %}
{% endcontent_for %}

{% content_for meta_keywords %}
{% endcontent_for %}

{% content_for title %}
{% endcontent_for %}
