<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{% yield meta_description %}">
    <meta name="keywords" content="{% yield meta_keywords %}">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {{ 'password' | stylesheet_link_tag }}
    {{ 'password' | javascript_include_tag }}
    <link rel="stylesheet" href="{{ theme_file_root_path }}/assets/util.css" type="text/css">
    <link rel="stylesheet" href="{{ theme_file_root_path }}/assets/bundle.css" type="text/css">
    <title>{{ title }}</title>
    <script id='OnlineStoreEditorData' type="application/json">{{ online_store_editor_data }}</script>
    <script id='OnlineStoreThemeSchemaData' type="application/json">{{ online_store_theme_schema_data }}</script>
    {% if show_favicon %}
      <link id="favicon" rel="shortcut icon" href="{{ theme_file_root_path }}/assets/images/{{ settings.settings.favicon.settings.favicon }}" type="image/png">
    {% endif %}
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>
