<div id="view-payment-information" class="p-checkout__list__block u-color__border--border">
  <div class="p-checkout__list__block__inner">
    <h2 class="p-checkout__list__block__inner__title u-text--subhead">{{ 'payments.general.payment_info.value' | t }}</h2>
    <div class="p-checkout__list__block__inner__payment--select">
      <table class="c-form_table">
        <tbody>
          <!-- お支払い方法の選択 -->
          <tr>
            <th class="u-text--body">{{ 'payments.general.payment_method.value' | t }}<span class="u-color__text--alert">{{ 'general.general.required.value' | t }}</span></th>
            <td>
              <label class="c-form_table__select">
                <select class="u-text--input u-color__input--bg u-color__border--input validate[required]" id="payment_method_id" name="order[payment_attributes][payment_method_id]">
                  <option value='{{ order.payment.payment_method_id }}' selected>{{ order.payment.payment_method.name }}</option>
                </select>
              </label>
              <div id="AmazonPayButtonWallet" class="amazon_pay_button_wallet" style="display:none;">
                <input type="hidden" name="order[payment_attributes][source_attributes][access_token]"/>
                <input name="order[payment_attributes][source_attributes][billing_agreement]" class="billing_agreement validate[required]" data-errormessage="{{ 'general.message.login_error_message.value' | t }}">
              </div>
              <div class="paypal_button" id="paypal_button" style="display:none; height: auto;">
                <script src="{{ paypal_module_js }}"></script>
                {% if current_customer_has_paypal or order.payment.source_id %}
                  <input name="order[payment_attributes][source_attributes][access_token]" type="hidden" disabled="disabled">
                  {% if order.payment.source_id %}
                    <input id="input_paypal_source_id" name="order[payment_attributes][source_id]" type="hidden" disabled="disabled" value='{{ order.payment.source_id }}'>
                  {% elsif current_customer.paypal_transactions %}
                    <input id="input_paypal_source_id" name="order[payment_attributes][source_id]" type="hidden" disabled="disabled" value='{{ current_customer.paypal_transactions.last.id }}'>
                  {% endif %}
                {% endif %}
                <input class="validate[required]" data-errormessage="{{ 'payments.other.paypal_error_message.value' | t }}" id="paypal_billing_agreement" name="order[payment_attributes][source_attributes][billing_agreement]" style="visibility: hidden;font-size: 0px" disabled="disabled">
                <div id="paypal-button-container"></div>
              </div>
              <div id="view_app_payment" style="display:none;">
                {% if has_transaction_id %}
                  <input id="input_app_source_id" type="hidden" name="order[payment_attributes][source_id]" value='{{ order.payment.source_id }}'/>
                {% endif %}
              </div>
              {% if base_info.epos_banner %}
                <p id="epos">
                  <button id="epos_apply" type="button" style="background:none; border:0">
                    <img width="100%" src="{{ base_info.epos_banner.url }}">
                  </button>
                </p>
              {% endif %}
              <div id="payment_method_description"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- AmazonPayフォーム -->
    <div id="view-amazon-pay-wallet-widget" class="p-checkout__list__block__inner__payment--select" style="display:none;">
      <table class="c-form_table">
        <tbody>
          <tr>
            <th class="u-text--body">{{ 'payments.amazon_pay.amazon_pay.value' | t }}<span class="u-color__text--alert">{{ 'general.general.required.value' | t }}</span></th>
            <td>
              <div class="c-form_table__newsletter wallet_widget_wrapper" id="walletWidgetDiv"></div>
              <!-- 同意チェックボックス -->
              <label class="c-form_table__checkbox consent_wrapper check_agree">
                <input class="u-color__border--input consent_checkbox validate[required]" name="order[payment_attributes][source_attributes][consent]" type="checkbox">
                <span class="c-form_table__checkbox__frame u-color__btn"></span>
                <span class="c-form_table__checkbox__text u-text--body">{{ 'general.message.check_lead_text.value' | t }}</span>
              </label>
              <div class="consent_widget_wrapper" id="consentWidgetDiv"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- お支払い回数選択 -->
    <div id="view-payment-times" class="p-checkout__list__block__inner__payment--select" style="display:none;">
      <table class="c-form_table">
        <tbody>
          <tr>
            <th class="u-text--body">{{ 'payments.credit_card.payment_times.value' | t }}<span class="u-color__text--alert">{{ 'general.general.required.value' | t }}</span></th>
            <td>
              <label class="c-form_table__select">
                <select class="u-text--input u-color__input--bg u-color__border--input validate[required,custom[integer]]" id="order_payment_times" name="order[payment_attributes][payment_times]">
                  <option>--</option>
                  {% for i in (2..24) %}
                    {% if order.payment and order.payment.payment_times == i %}
                      <option value='{{ i }}' selected>{{ i }}</option>
                    {% else %}
                      <option value='{{ i }}'>{{ i }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- クレジットカード情報の入力 -->
    <div id="view-credit-card-information" class="p-checkout__list__block__inner__payment--credit" style="display: none;">
      <input type="hidden" name="order[payment_attributes][source_attributes][access_token]" id="input-cc-access-token" disabled>
      <input type="hidden" id="input-cc-check-access-token" class="validate[ajax[creditcardCheckShop]]" data-prompt-position="inline" data-prompt-target="view-input-card-number" disabled>
      <table class="c-form_table">
        <tbody>
          <!-- クレジットカードの選択 -->
          <tr>
            <th class="u-text--body">{{ 'payments.credit_card.card_number.value' | t }}<span class="u-color__text--alert">{{ 'general.general.required.value' | t }}</span></th>
            <td>
              {% if current_customer_has_card %}
                <label class="c-form_table__select">
                  <select name="order[payment_attributes][source_id]" id="card-id" class="u-text--input u-color__input--bg u-color__border--input">
                    {% for card in current_customer.credit_cards %}
                      <option value='{{ card.id }}' {% if card.default %}selected{% endif %}>{{ card.display_number }}</option>
                    {% endfor %}
                    {% if current_customer.credit_cards.size < 5 %}
                      <option value="0">{{ 'general.action.new_registration.value' | t }}</option>
                    {% endif %}
                  </select>
                </label>
              {% endif %}
              <!-- クレジットカード番号の入力 -->
              <div id="view-input-card-number" style="{% if current_customer_has_card %}display:none;{% endif %}">
                {% if ecforce_payment_available %}
                  <div id="ecforce-payment-card-number-error"></div>
                  <div id="ecforce-view-input-card-number">
                    <div class="ecforce-payment-card-number">
                      <div id="card-number"></div>
                    </div>
                    <input id="ecforce-payment-last-digits" style="display: none;" class="validate[required]" name="order[payment_attributes][source_attributes][last_digits]" data-prompt-position="inline" data-prompt-target="ecforce-payment-card-number-error">
                  </div>
                {% else %}
                  <input type="hidden" name="order[payment_attributes][source_attributes][default]" id="input-cc-default" {% if current_customer_has_card %}disabled{% endif %} value="1">
                  <input type="hidden" name="order[payment_attributes][source_attributes][cc_type]" id="input-cc-type" disabled>
                  <input class="u-text--input u-color__input--bg u-color__border--input validate[required,custom[number],maxSize[16]]" name="order[payment_attributes][source_attributes][number]" id="input-cc-number" {% if current_customer_has_card %}disabled{% endif %} placeholder="" type="tel" inputmode="numeric" pattern="\d*" autocomplete="cc-number">
                {% endif %}
                <input type="hidden" name="order[payment_attributes][source_attributes][gateway_card_seq]" id="input-cc-gateway-card-seq" disabled>
              </div>
            </td>
          </tr>
          <!-- クレジットカード有効期限の入力 -->
          <tr id="view-input-card-expire" style="{% if current_customer_has_card %}display:none;{% endif %}">
            <th class="u-text--body">{{ 'general.general.expired.value' | t }}<span class="u-color__text--alert">{{ 'general.general.required.value' | t }}</span></th>
            <td>
              {% if ecforce_payment_available %}
                <div id="expire-validation" class="ecforce-input-card-info">
                  <div id="ecforce-payment-card-expiry-error"></div>
                  <div class="ecforce-payment-card-expiry">
                    <div id="card-expiry"></div>
                  </div>
                  <input type="hidden" id ="ecforce-payment-expiry" class="validate_req validate[required]" data-prompt-position="inline" data-prompt-target="ecforce-payment-card-expiry-error" disabled>
                  <input type="hidden" id="ecforce-payment-month" name="order[payment_attributes][source_attributes][month]">
                  <input type="hidden" id="ecforce-payment-year" name="order[payment_attributes][source_attributes][year]">
                </div>
              {% else %}
                <div class="c-form_table__tel">
                  <label class="c-form_table__select">
                    <select class="u-text--input u-color__input--bg u-color__border--input validate[required]" name="order[payment_attributes][source_attributes][month]" id="input-cc-month" {% if current_customer_has_card %}disabled{% endif %} autocomplete="cc-exp-month">
                      {% for m in (1..12) %}
                        <option value='{{ m }}'{% if order.payment.source_type == 'EcForce::CreditCard' && order.payment.source.month == m %} selected {% endif %}>{{ m }}</option>
                      {% endfor %}
                    </select>
                  </label>
                  <span class="u-text--body">{{ 'customer.general.month.value' | t }}</span>
                  <label class="c-form_table__select">
                    <select class="u-text--input u-color__input--bg u-color__border--input validate[required]" name="order[payment_attributes][source_attributes][year]" id="input-cc-year" {% if current_customer_has_card %}disabled{% endif %} autocomplete="cc-exp-year">
                      {% assign now_year = "now" | date: "%Y" | minus: 2000 %}
                      {% assign later_15_years = "now" | date: "%Y" | plus: 15 | minus: 2000 %}
                      {% for y in (now_year..later_15_years) %}
                        <option value='{{ y }}'{% if order.payment.source_type == 'EcForce::CreditCard' && order.payment.source.year == y %} selected {% endif %}>{{ y }}</option>
                      {% endfor %}
                    </select>
                  </label>
                  <span class="u-text--body">{{ 'customer.general.year.value' | t }}</span>
                </div>
              {% endif %}
            </td>
          </tr>
          <!-- クレジットカード名義人の入力 -->
          <tr id="view-input-card-name" style="{% if current_customer_has_card %}display:none;{% endif %}">
            <th class="u-text--body">{{ 'payments.credit_card.card_name.value' | t }}<span class="u-color__text--alert">{{ 'general.general.required.value' | t }}</span></th>
            <td>
              {% if order.payment.source_type == 'EcForce::CreditCard' %}
                {% assign card_name = order.payment.source.name %}
              {% else %}
                {% assign card_name = '' %}
              {% endif %}
              {% if ecforce_payment_available %}
                <div id="ecforce-payment-card-name-error"></div>
                <input type="text" name="order[payment_attributes][source_attributes][name]" id="input-cc-name" class="validate[required,custom[onlyLetterSp]] ecforce-payment-card-name" value='{{ card_name }}' {% if current_customer_has_card %}disabled{% endif %} placeholder="例）HANAKO YAMADA" data-prompt-position="inline" data-prompt-target="ecforce-payment-card-name-error">
              {% else %}
                <input class="u-text--input u-color__input--bg u-color__border--input validate[required,custom[onlyLetterSp]]" type="text" name="order[payment_attributes][source_attributes][name]" id="input-cc-name"  value='{{ card_name }}' {% if current_customer_has_card %}disabled{% endif %} autocomplete="cc-name">
              {% endif %}
            </td>
          </tr>
          <!-- セキュリティコードの入力 -->
          <tr id="view-input-card-cvv" style="{% if current_customer_has_card %}display:none;{% endif %}">
            {% if ecforce_payment_available %}
              {% if use_cvc == 'true' %}
                <th class="u-text--body">{{ 'payments.credit_card.security_code.value' | t }}<span class="u-color__text--alert">{{ 'general.general.required.value' | t }}</span></th>
                <td>
                  <div id="cvv-validation" class="ecforce-input-card-info">
                    <div id="ecforce-payment-card-cvv-error"></div>
                    <div class="ecforce-payment-card-cvv">
                      <div id="card-cvv"></div>
                    </div>
                    <input type="hidden" id="ecforce-payment-cvv" class="validate_req validate[required]" data-prompt-position="inline" data-prompt-target="ecforce-payment-card-cvv-error" disabled>
                  </div>
                </td>
              {% endif %}
            {% else %}
              <th class="u-text--body">{{ 'payments.credit_card.security_code.value' | t }}<span class="u-color__text--alert">{{ 'general.general.required.value' | t }}</span></th>
              <td>
                <input class="u-text--input u-color__input--bg u-color__border--input validate[required,custom[number]]" name="cvv" id="input-cc-cvv" {% if current_customer_has_card %}disabled{% endif %} type="tel" inputmode="numeric" pattern="\d*">
                <p class="u-text--body">{{ 'payments.credit_card.security_code_description.value' | t }}</p>
                <!-- セキュリティコードの説明画像 -->
                <img src="{{ theme_file_root_path }}/assets/images/cvv_example.jpg">
              </td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
