{{ 'shop/orders' | javascript_include_tag }}

<!-- 注文完了コンテナ -->
<main id="perform-view" class="l-container" role="main">
  <div class="l-container__row u-margin__top--80 u-margin_sp__top--40">
    <div class="c-steps_to_order c-steps_to_order--theme">
      <div class="c-steps_to_order__step c-steps_to_order__step--1">
      <p class="c-steps_to_order__number u-font__en is-complete">1</p>
        <p class="c-steps_to_order__text">ご注文内容の<br>入力</p>
      </div>
      <div class="c-steps_to_order__step c-steps_to_order__step--2">
        <p class="c-steps_to_order__number u-font__en is-complete">2</p>
        <p class="c-steps_to_order__text">ご注文内容の<br>確認</p>
      </div>
      <div class="c-steps_to_order__step c-steps_to_order__step--3">
        <p class="c-steps_to_order__number u-font__en is-active">3</p>
        <p class="c-steps_to_order__text">ご注文<br>完了</p>
      </div>
    </div>
  </div>
  <div class="l-container__row u-margin__top--60">
    <header class="p-page_header">
      <div class="p-page_header__inner">
        <h1 class="p-page_header__inner__title u-text--head">{{ 'orders.general.complete_text.value' | t }}</h1>
        <!-- お問い合わせ用メールアドレス -->
        <p class="p-page_header__inner__lead u-text--body">
          {% if shop_form_settings['email'] %}
            {{ 'orders.general.complete_lead_text.value' | t }}
          {% else %}
            {{ 'orders.general.complete_lead_sms_text.value' | t }}
          {% endif %}
          <a class="u-text--link" href="mailto:{{ base_info.contact_email }}">{{ base_info.contact_email }}</a>
        </p>
        <div>
          <p class="p-page_header__inner__lead u-text--subhead">{{ 'orders.general.order_number.value' | t }}：{{ order.number }}</p>
        </div>
        <a class="p-page_header__inner__btn u-text--btn u-color__btn--bg" href="/shop">{{ 'general.action.return_top.value' | t }}</a>
      </div>
    </header>
  </div>
  <div class="l-container__row u-margin__top--60 u-margin__bottom--100">
    {% if line_id_linkable %}
      <div class="alert">
        {{ line_settings['information_context'] }}
      </div>
      <!-- LINE ID 連携ボタン（リンク） -->
      <div class="line_new_ec">
        <div class="button-container">
          <a class="button btn-line line-token-set-btn" href="#">
            <span class="before-btn-line" style="background-image:url('{{ theme_file_root_path }}/assets/images/login-line.png')"></span>
            {{ 'account.line.line_id.value' | t }}
            <span class="after-btn-line"></span>
          </a>
        </div>
      </div>
    {% endif %}
  </div>
</main>
