{{ 'shop/orders' | javascript_include_tag }}

<!-- 注文情報確認画面 -->
<main id="confirm-view" style="display: block" role="main">
  <!-- 決済モジュールを呼び出すのに必要なタグ -->
  <div id="ModuleJs"></div>
  <div class="l-container__row u-margin__top--80 u-margin_sp__top--40">
    <div class="c-steps_to_order c-steps_to_order--theme">
      <div class="c-steps_to_order__step c-steps_to_order__step--1">
      <p class="c-steps_to_order__number u-font__en is-complete">1</p>
        <p class="c-steps_to_order__text">ご注文内容の<br>入力</p>
      </div>
      <div class="c-steps_to_order__step c-steps_to_order__step--2">
        <p class="c-steps_to_order__number u-font__en is-active">2</p>
        <p class="c-steps_to_order__text">ご注文内容の<br>確認</p>
      </div>
      <div class="c-steps_to_order__step c-steps_to_order__step--3">
        <p class="c-steps_to_order__number u-font__en">3</p>
        <p class="c-steps_to_order__text">ご注文<br>完了</p>
      </div>
    </div>
  </div>
  <div class="l-container__row u-margin__top--60">
    <header class="p-page_header">
      <div class="p-page_header__inner">
        <h1 class="p-page_header__inner__title u-text--head">{{ 'orders.general.confirm_title.value' | t }}</h1>
      </div>
    </header>
  </div>
  <div class="l-container__row u-margin__top--60 u-margin__bottom--100">
    <div class="p-checkout_confirm">
      <div class="p-checkout_confirm__inner">
        <!-- 注意喚起文（画面上部）@mobile -->
        <section class="p-checkout_confirm__caution__sp">
          {% for order_item in order.order_items %}
            {% unless order_item.variant.product.caution02 == blank %}
              <div class="p-checkout_confirm__caution__block u-text--body">
                {{ order_item.variant.product.caution02 }}
              </div>
            {% endunless %}
          {% endfor %}
        </section>
        <section class="p-checkout_confirm__inner__list">
          <!-- 注意喚起文（画面上部）@laptop -->
          <div class="p-checkout_confirm__caution__pc">
            {% for order_item in order.order_items %}
              {% unless order_item.variant.product.caution02 == blank %}
                <div class="p-checkout_confirm__caution__block u-text--body">
                  {{ order_item.variant.product.caution02 }}
                </div>
              {% endunless %}
            {% endfor %}
          </div>
          <div class="p-checkout_confirm__inner__list__block u-margin__top--60">
            <!-- お客様情報 -->
            <h2 class="p-checkout_confirm__inner__list__block__title u-text--subhead">{{ 'account.general.customer_info.value' | t }}</h2>
            <table class="c-form_table--confirm">
              <tbody>
                <!-- お名前 -->
                <tr class="u-color__border--border">
                  <th class="u-text--body">{{ 'customer.general.name.value' | t }}</th>
                  <td class="u-text--body">{{ order.billing_address.full_name }}</td>
                </tr>
                <!-- フリガナ -->
                <tr class="u-color__border--border">
                  <th class="u-text--body">{{ 'customer.general.kana.value' | t }}</th>
                  <td class="u-text--body">{{ order.billing_address.full_kana }}</td>
                </tr>
                <!-- 住所 -->
                <tr class="u-color__border--border">
                  <th class="u-text--body">{{ 'customer.general.address.value' | t }}</th>
                  <td class="u-text--body">
                    &#12306;
                    {% if shop_form_settings['zip_1_field'] %}
                      {{ order.billing_address.full_zip }}
                    {% else %}
                      {{ order.billing_address.zip01 }}&ndash;
                      {{ order.billing_address.zip02 }}
                    {% endif %}
                    <br />
                    {{ order.billing_address.full_address }}
                  </td>
                </tr>
                <!-- 電話番号 -->
                <tr class="u-color__border--border">
                  <th class="u-text--body">{{ 'customer.general.tel.value' | t }}</th>
                  <td class="u-text--body">
                    {% if shop_form_settings['tel_1_field'] %}
                      {{ order.billing_address.full_tel }}
                    {% else %}
                      {{ order.billing_address.tel01 }}&ndash;
                      {{ order.billing_address.tel02 }}&ndash;
                      {{ order.billing_address.tel03 }}
                    {% endif %}
                  </td>
                </tr>
                <!-- メールアドレス -->
                {% if shop_form_settings['email'] %}
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'customer.general.email.value' | t }}</th>
                    <td class="u-text--body">{{ order.email }}</td>
                  </tr>
                {% endif %}
                <!-- ショップからのお知らせ -->
                <tr class="u-color__border--border">
                  <th class="u-text--body">{{ 'customer.general.mail_magazine.value' | t }}</th>
                  <td class="u-text--body">{% if order.customer.optin %}{{ 'customer.general.receive_mail_magazine.value' | t }}{% else %}{{ 'customer.general.not_receive_mail_magazine.value' | t }}{% endif %}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="p-checkout_confirm__inner__list__block">
            {% if order.pickup_store %}
              <!-- 受取店舗 -->
              <h2 class="p-checkout_confirm__inner__list__block__title u-text--subhead">{{ 'orders.pickup_store.store_for_pickup.value' | t }}</h2>
              <table class="c-form_table--confirm">
                <tbody>
                  <!-- お名前 -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'orders.pickup_store.name.value' | t }}</th>
                    <td class="u-text--body">{{ order.pickup_store.name }}</td>
                  </tr>
                  <!-- フリガナ -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'orders.pickup_store.kana.value' | t }}</th>
                    <td class="u-text--body">{{ order.pickup_store.kana }}</td>
                  </tr>
                  <!-- 住所 -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'orders.pickup_store.address.value' | t }}</th>
                    <td class="u-text--body">
                      &#12306;{{ order.pickup_store.full_zip }}<br />{{ order.pickup_store.full_address_with_space }}
                    </td>
                  </tr>
                  <!-- 電話番号 -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'orders.pickup_store.tel.value' | t }}</th>
                    <td class="u-text--body">
                      {{ order.pickup_store.full_tel }}
                    </td>
                  </tr>
                  <!-- FAX番号 -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'orders.pickup_store.fax.value' | t }}</th>
                    <td class="u-text--body">
                      {{ order.pickup_store.full_fax }}
                    </td>
                  </tr>
                  <!-- 営業時間 -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'orders.pickup_store.business_hours.value' | t }}</th>
                    <td class="u-text--body">
                      {{ order.pickup_store.business_hours }}
                    </td>
                  </tr>
                </tbody>
              </table>
            {% else %}
              <!-- お届け先情報 -->
              <h2 class="p-checkout_confirm__inner__list__block__title u-text--subhead">{{ 'orders.shipping_address.shipping_address.value' | t }}</h2>
              <table class="c-form_table--confirm">
                <tbody>
                  <!-- お名前 -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'customer.general.name.value' | t }}</th>
                    <td class="u-text--body">{{ order.shipping_address.full_name }}</td>
                  </tr>
                  <!-- フリガナ -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'customer.general.kana.value' | t }}</th>
                    <td class="u-text--body">{{ order.shipping_address.full_kana }}</td>
                  </tr>
                  <!-- 住所 -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'customer.general.address.value' | t }}</th>
                    <td class="u-text--body">&#12306;
                      {% if shop_form_settings['zip_1_field'] %}
                        {{ order.shipping_address.full_zip }}
                      {% else %}
                        {{ order.shipping_address.zip01 }}&ndash;
                        {{ order.shipping_address.zip02 }}
                      {% endif %}
                      <br />
                      {{ order.shipping_address.full_address }}
                    </td>
                  </tr>
                  <!-- 電話番号 -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'customer.general.tel.value' | t }}</th>
                    <td class="u-text--body">
                      {% if shop_form_settings['tel_1_field'] %}
                        {{ order.shipping_address.full_tel }}
                      {% else %}
                        {{ order.shipping_address.tel01 }}&ndash;
                        {{ order.shipping_address.tel02 }}&ndash;
                        {{ order.shipping_address.tel03 }}
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            {% endif %}
          </div>
          <!-- ラッピング -->
          {% if shop_form_settings['wrapping'] %}
            <div class="p-checkout_confirm__inner__list__block">
              <h2 class="p-checkout_confirm__inner__list__block__title u-text--subhead">{{ 'orders.wrapping.wrapping_title.value' | t }}</h2>
              <table class="c-form_table--confirm">
                <tbody>
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'orders.wrapping.wrapping.value' | t }}</th>
                    <td class="u-text--body">
                      {% if order.wrapping %}
                        <!-- ラッピング名 -->
                        {{ order.wrapping.name }}
                        {% comment %}<img src="{{ order.wrapping.thumbnail.url.medium }}" alt="">{% endcomment %}
                      {% else %}
                        {{ 'orders.wrapping.none.value' | t }}
                      {% endif %}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          {% endif %}
          <div class="p-checkout_confirm__inner__list__block">
            <!-- お支払い情報 -->
            <h2 class="p-checkout_confirm__inner__list__block__title u-text--subhead">{{ 'payments.general.payment_info.value' | t }}</h2>
            <table class="c-form_table--confirm">
              <tbody>
                <!-- 支払い方法名 -->
                <tr class="u-color__border--border">
                  <th class="u-text--body">{{ 'payments.general.payment_method.value' | t }}</th>
                  <td class="u-text--body">{{ order.payment.payment_method.name }}</td>
                </tr>
                <!-- クレジットカード一括 -->
                {% if order.payment.payment_method.one_time_payment? %}
                  <!-- カード番号（有効期限） -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'payments.credit_card.card_number.value' | t }}</th>
                    <td class="u-text--body">{{ order.payment.source.display_number }}</td>
                  </tr>
                  <!-- カード名義 -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'payments.credit_card.card_name.value' | t }}</th>
                    <td class="u-text--body">{{ order.payment.source.name }}</td>
                  </tr>
                <!-- クレジットカード分割 -->
                {% elsif order.payment.payment_method.installment_payment? %}
                  <!-- お支払い回数 -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'payments.credit_card.payment_times.value' | t }}</th>
                    <td class="u-text--body">{{ order.payment.payment_times }}{{ 'general.general.times.value' | t }}</td>
                  </tr>
                  <!-- カード番号（有効期限） -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'payments.credit_card.card_number.value' | t }}</th>
                    <td class="u-text--body">{{ order.payment.source.display_number }}</td>
                  </tr>
                  <!-- カード名義 -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'payments.credit_card.card_name.value' | t }}</th>
                    <td class="u-text--body">{{ order.payment.source.name }}</td>
                  </tr>
                <!-- クレジットカードリボ -->
                {% elsif order.payment.payment_method.revolving_payment? %}
                  <!-- カード番号（有効期限） -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'payments.credit_card.card_number.value' | t }}</th>
                    <td class="u-text--body">{{ order.payment.source.display_number }}</td>
                  </tr>
                  <!-- カード名義 -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'payments.credit_card.card_name.value' | t }}</th>
                    <td class="u-text--body">{{ order.payment.source.name }}</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
          {% unless order.pickup_store %}
            <div class="p-checkout_confirm__inner__list__block">
              <h2 class="p-checkout_confirm__inner__list__block__title u-text--subhead">{{ 'delivery.general.shipping_carrier.value' | t }}</h2>
              <table class="c-form_table--confirm">
                <tbody>
                  <!-- 配送業者名 -->
                  <tr class="u-color__border--border">
                    <th class="u-text--body">{{ 'delivery.general.shipping_carrier.value' | t }}</th>
                    <td class="u-text--body">{{ order.shipping_carrier.name }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          {% endunless %}
          <!-- お届けサイクル -->
          {% if scheduled_delivery_dates_visibility %}
            <div class="p-checkout_confirm__inner__list__block">
              <h2 class="p-checkout_confirm__inner__list__block__title u-text--subhead">{{ 'delivery.general.delivery_dates.value' | t }}</h2>
              <table class="c-form_table--confirm">
                <tbody>
                  {% if enabled_pre_order and order.pre_order_variants? %}
                    <tr class="u-color__border--border">
                      <th class="u-text--body">{% if order.recurring_item? %}{{ 'delivery.general.pre_ordered_delivery_description_snapshot_recurring.value' | t }}{% else %}{{ 'delivery.general.pre_ordered_delivery_description_snapshot.value' | t }}{% endif %}</th>
                      <td class="u-text--body">
                        {{ order.find_last_scheduled_pre_order.pre_ordered_delivery_description }}
                        {% if order.scheduled_delivery_time != empty %}
                          ({{ order.scheduled_delivery_time }})
                        {% endif %}
                      </td>
                    </tr>
                  {% else %}
                    <tr class="u-color__border--border">
                      <th class="u-text--body">{{ 'delivery.delivery_cycle.first_scheduled_to_be_delivered_at.value' | t }}</th>
                      <td class="u-text--body">
                        <!-- １回目お届け日 -->
                        {% if order.scheduled_to_be_delivered_at %}
                          {{ order.scheduled_to_be_delivered_at | date: '%Y-%m-%d' }}
                        {% else %}
                          {{ 'general.general.unspecified.value' | t }}
                        {% endif %}
                      </td>
                    </tr>
                    <!-- １回目お届け時間 -->
                    <tr class="u-color__border--border">
                      <th class="u-text--body">{{ 'delivery.delivery_cycle.first_scheduled_to_be_delivered_at_time.value' | t }}</th>
                      <td class="u-text--body">
                        {% if order.scheduled_delivery_time != empty %}
                          {{ order.scheduled_delivery_time }}
                        {% endif %}
                      </td>
                    </tr>
                    <!-- ２回目お届け日 -->
                    <tr class="u-color__border--border">
                      <th class="u-text--body">{{ 'delivery.delivery_cycle.second_scheduled_to_be_delivered_at.value' | t }}</th>
                      <td class="u-text--body">
                        {{ order.subs_order.scheduled_to_be_delivered_at | date: '%Y-%m-%d' }}
                      </td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
          {% endif %}
          <!-- 通信欄 -->
          {% if shop_form_settings['remark'] %}
            <span class="u-text--body">{{ order.remark }}</span>
          {% endif %}
          <!-- 注意喚起文 -->
          <div class="p-checkout_confirm__caution">
            {% for order_item in order.order_items %}
              {% unless order_item.variant.product.caution == blank %}
                <div class="p-checkout_confirm__caution__block u-text--body">
                  {{ order_item.variant.product.caution }}
                </div>
              {% endunless %}
            {% endfor %}
          </div>
          <!-- カスタム項目 -->
          {% if base_info.use_free_columns? and shop_form_settings['free_column'] and liquid_custom_field != empty %}
            {% assign setting = shop_form_settings['free_column_title'] %}
            <div class="p-checkout_confirm__inner__list__block">
              <h2 class="p-checkout_confirm__inner__list__block__title u-text--subhead">{{ setting }}</h2>
              {% for custom_field_info_hash in liquid_custom_field %}
                {% for seq_hash in custom_field_info_hash[1] %}
                <div class="p-checkout_confirm__inner__list__block__content">
                  {% assign info = seq_hash[1] %}
                  {% if info['category'] %}
                    <h3 class="p-checkout_confirm__inner__list__block__category u-color__border--border u-text--body">{{ info['category'] | escape }}</h3>
                  {% endif %}
                  <table class="c-form_table--confirm">
                    <tbody>
                    {% for i_hash in info['info'] %}
                      {% assign i = i_hash[1] %}
                      <tr class="u-color__border--border">
                        <th class="u-text--body">{{ i['label'] | escape }}</th>
                        <td class="u-text--body">
                          {% for v in i['value'] %}
                            <p>{{ v | escape }}</p>
                          {% endfor %}
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% endfor %}
              {% endfor %}
            </div>
          {% endif %}
          <!-- 注文ボタン -->
          {% section 'order_confirmation_button' %}
        </section>
        <section class="p-checkout_confirm__inner__side">
          <div class="c-billing_list u-color__bg--bg">
            <div class="c-billing_list__title u-text--subhead u-color__border--border">{{ 'orders.amount.order_amount.value' | t }}</div>
            <ul class="c-billing_list__detail u-color__border--border">
              <!-- 注文小計 -->
              <li class="c-billing_list__detail__item">
                <dl class="c-billing_list__detail__item__row">
                  <dt class="c-billing_list__detail__item__row__title u-text--body">{{ 'orders.amount.product_price.value' | t }}</dt>
                  <dd class="c-billing_list__detail__item__row__price u-text--body">&yen;{{ order.subtotal | number_with_delimiter }}</dd>
                </dl>
              </li>
              <!-- 手数料 -->
              {% if order.charge > 0 %}
                <li class="c-billing_list__detail__item">
                  <dl class="c-billing_list__detail__item__row">
                    <dt class="c-billing_list__detail__item__row__title u-text--body">{{ 'orders.amount.charge.value' | t }}</dt>
                    <dd class="c-billing_list__detail__item__row__price u-text--body">&yen;{{ order.charge | number_with_delimiter }}</dd>
                  </dl>
                </li>
              {% endif %}
              <!-- ラッピング代 -->
              {% if shop_form_settings['wrapping'] %}
                <li class="c-billing_list__detail__item">
                  <dl class="c-billing_list__detail__item__row">
                    <dt class="c-billing_list__detail__item__row__title u-text--body">{{ 'orders.wrapping.wrapping_fee.value' | t }}</dt>
                    <dd class="c-billing_list__detail__item__row__price u-text--body">&yen;{{ order.misc_fee | number_with_delimiter }}</dd>
                  </dl>
                </li>
              {% endif %}
              <!-- 送料 -->
              {% if order.deliv_fee > 0 %}
                <li class="c-billing_list__detail__item">
                  <dl class="c-billing_list__detail__item__row">
                    <dt class="c-billing_list__detail__item__row__title u-text--body">{{ 'orders.amount.deliv_fee.value' | t }}</dt>
                    <dd class="c-billing_list__detail__item__row__price u-text--body">&yen;{{ order.deliv_fee | number_with_delimiter }}</dd>
                  </dl>
                </li>
              {% endif %}
              {% if order.discount_not_with_point > 0 %}
                <li class="c-billing_list__detail__item">
                  <dl class="c-billing_list__detail__item__row">
                    <dt class="c-billing_list__detail__item__row__title u-text--body">{{ 'orders.amount.discount.value' | t }}</dt>
                    <dd class="c-billing_list__detail__item__row__price u-text--body">&minus; &yen;{{ order.discount_not_with_point | number_with_delimiter }}</dd>
                  </dl>
                </li>
              {% endif %}
              <!-- ポイント利用(税率適用前) -->
              {% if order.discount_point_amount != 0 and order.use_point_include_tax? == false %}
                <li class="c-billing_list__detail__item">
                  <dl class="c-billing_list__detail__item__row">
                    <dt class="c-billing_list__detail__item__row__title u-text--body">{{ 'orders.amount.discount_point_amount_before_tax.value' | t }}</dt>
                    <dd class="c-billing_list__detail__item__row__price u-text--body">&minus; &yen;{{ order.discount_point_amount | number_with_delimiter }}</dd>
                  </dl>
                </li>
              {% endif %}
              <!-- 消費税 -->
              <li class="c-billing_list__detail__item">
                <dl class="c-billing_list__detail__item__row">
                  <dt class="c-billing_list__detail__item__row__title u-text--body">{{ 'orders.amount.tax.value' | t }}</dt>
                  <dd class="c-billing_list__detail__item__row__price u-text--body">&yen;{{ order.tax | number_with_delimiter }}</dd>
                </dl>
                {% if order.subtotal10 > 0 %}
                  <div class="c-billing_list__detail__item__tax">
                    <div class="c-billing_list__detail__item__tax__rate u-text--strong">{{ 'orders.amount.10_percent_target.value' | t }}</div>
                    <ul class="c-billing_list__detail__item__tax__list">
                      <!-- 10%対象小計 -->
                      <li class="c-billing_list__detail__item__tax__list__item">
                        <div class="c-billing_list__detail__item__tax__list__item__title u-text--body">{{ 'orders.amount.subtotal.value' | t }}</div>
                        <div class="c-billing_list__detail__item__tax__list__item__price u-text--body">&yen;{{ order.subtotal10 | number_with_delimiter }}</div>
                      </li>
                      <!-- 10%対象割引 -->
                      {% if order.discount10 > 0 %}
                        <li class="c-billing_list__detail__item__tax__list__item">
                          <div class="c-billing_list__detail__item__tax__list__item__title u-text--body">{{ 'orders.amount.discount.value' | t }}</div>
                          <div class="c-billing_list__detail__item__tax__list__item__price u-text--body">&minus; &yen;{{ order.discount10 | number_with_delimiter }}</div>
                        </li>
                      {% endif %}
                      <!-- 10%対象消費税 -->
                      {% if order.tax10 != 0 %}
                        <li class="c-billing_list__detail__item__tax__list__item">
                          <div class="c-billing_list__detail__item__tax__list__item__title u-text--body">{{ 'orders.amount.tax.value' | t }}</div>
                          <div class="c-billing_list__detail__item__tax__list__item__price u-text--body">&yen;{{ order.tax10 | number_with_delimiter }}</div>
                        </li>
                      {% endif %}
                    </ul>
                  </div>
                {% endif %}
                {% if order.subtotal8 > 0 %}
                  <div class="c-billing_list__detail__item__tax">
                    <div class="c-billing_list__detail__item__tax__rate u-text--strong">{{ 'orders.amount.8_percent_target.value' | t }}</div>
                    <ul class="c-billing_list__detail__item__tax__list">
                      <!-- 8%対象小計 -->
                      <li class="c-billing_list__detail__item__tax__list__item">
                        <div class="c-billing_list__detail__item__tax__list__item__title u-text--body">{{ 'orders.amount.subtotal.value' | t }}</div>
                        <div class="c-billing_list__detail__item__tax__list__item__price u-text--body">&yen;{{ order.subtotal8 | number_with_delimiter }}</div>
                      </li>
                      <!-- 8%対象割引 -->
                      {% if order.discount8 > 0 %}
                        <li class="c-billing_list__detail__item__tax__list__item">
                          <div class="c-billing_list__detail__item__tax__list__item__title u-text--body">{{ 'orders.amount.discount.value' | t }}</div>
                          <div class="c-billing_list__detail__item__tax__list__item__price u-text--body">&minus; &yen;{{ order.discount8 | number_with_delimiter }}</div>
                        </li>
                      {% endif %}
                      <!-- 8%対象消費税 -->
                      {% if order.tax8 != 0 %}
                        <li class="c-billing_list__detail__item__tax__list__item">
                          <div class="c-billing_list__detail__item__tax__list__item__title u-text--body">{{ 'orders.amount.tax.value' | t }}</div>
                          <div class="c-billing_list__detail__item__tax__list__item__price u-text--body">&yen;{{ order.tax8 | number_with_delimiter }}</div>
                        </li>
                      {% endif %}
                    </ul>
                  </div>
                {% endif %}
              </li>
              <!-- ポイント利用(税率適用後) -->
              {% if order.discount_point_amount != 0 and order.use_point_include_tax? == true %}
                <li class="c-billing_list__detail__item">
                  <dl class="c-billing_list__detail__item__row">
                    <dt class="c-billing_list__detail__item__row__title u-text--body">{{ 'orders.amount.discount_point_amount_after_tax.value' | t }}</dt>
                    <dd class="c-billing_list__detail__item__row__price u-text--body">&minus; &yen;{{ order.discount_point_amount | number_with_delimiter }}</dd>
                  </dl>
                </li>
              {% endif %}
            </ul>
            <!-- 合計 -->
            <div class="c-billing_list__total">
              <div class="c-billing_list__total__title u-text--subhead">{{ 'orders.amount.total.value' | t }}</div>
              <div class="c-billing_list__total__price u-text--subhead">&yen;{{ order.total | number_with_delimiter }}</div>
            </div>
            <!-- 付与予定ポイント -->
            {% if base_info.use_point? and customer_signed_in %}
              <div class="c-billing_list__total">
                <div class="c-billing_list__total__title u-text--body">{{ 'points.general.grant_plan_point.value' | t }}</div>
                <div class="c-billing_list__total__point u-text--body">{{ order.grant_plan_point | number_with_delimiter }}&nbsp;ポイント</div>
              </div>
            {% endif %}
          </div>
          <div class="c-cart_list">
            <div class="c-cart_list__title u-text--subhead">
              <span class="c-cart_list__text">{{ 'orders.general.cart.value' | t }}</span>
              <span class="c-cart_list__text u-text--body u-text--link"><a href="/shop/cart">変更</a></span>
            </div>
            <ul class="c-cart_list__list u-color__border--border">
              <!-- 注文商品一覧 -->
              {% for order_item in order.order_items %}
                {%- comment -%}order_itemsにギフト商品が含まれてしまうので避ける{%- endcomment -%}
                {% if order_item.variant.gift? %}{% continue %}{% endif %}
                <li class="c-cart_list__list__item u-color__border--border">
                  <div class="c-cart_list__list__item__img">
                    {% if order_item.product.thumbnail.url %}
                      {% assign thumbnail = order_item.product.thumbnail.url %}
                    {% else %}
                      {% assign thumbnail = 'missing' | image_url %}
                    {% endif %}
                    <div class="c-cart_list__list__item__img__inner" style="background-image:url('{{ thumbnail }}')"></div>
                  </div>
                  <div class="c-cart_list__list__item__info">
                    <div class="c-cart_list__list__item__info__category u-text--body">
                      {% assign _category = '' %}
                      {% for category in order_item.product.product_categories %}
                        {% if category.product_category_visibility %}
                          {% unless _category == '' %}
                            {% assign _category = _category | append: ', ' %}
                          {% endunless %}
                          {% assign _category = _category | append: category.name %}
                        {% endif %}
                      {% endfor %}
                      {{ _category }}
                    </div>
                    <!-- 商品名 -->
                    <p class="c-cart_list__list__item__info__title u-text--body">{{ order_item.name_with_tax }}</p>
                    <div class="c-cart_list__list__item__info__variant u-text--body">
                      {% assign option_cnt = 0 %}
                      {% for option_value in order_item.variant.option_values %}
                        {% unless option_cnt == 0 %}
                          &nbsp;/&nbsp;
                        {% endunless %}
                        {{ option_value.option_type.presentation }}：{{ option_value.presentation }}
                        {% assign option_cnt = option_cnt | plus: 1 %}
                      {% endfor %}
                    </div>
                    <div class="c-cart_list__list__item__info__total">
                      <!-- 数量 -->
                      <div class="c-cart_list__list__item__info__total__quantity u-text--body">{{ 'products.stock.quantity.value' | t }}：{{ order_item.quantity }}</div>
                      <!-- 単価 (税抜)  -->
                      <div class="c-cart_list__list__item__info__total__price u-text--body">&yen;{{ order_item.subtotal_price_integer | number_with_delimiter }}</div>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>

          {% if gift_order_items.size > 0 %}
            <div class="c-cart_list">
              <div class="c-cart_list__title u-text--subhead">
                <span class="c-cart_list__text">{{ 'orders.gift.title.value' | t }}</span>
                <span class="c-cart_list__text u-text--body u-text--link"><a href="/shop/cart">変更</a></span>
              </div>
              <ul class="c-cart_list__list u-color__border--border">
                <!-- ギフト商品一覧 -->
                {% for gift_oi in gift_order_items %}
                  {% for gift_relation in gift_oi.gift_target_relations %}
                    {% if forloop.first %}
                      <li class="c-cart_list__list__item --gift u-color__border--border">
                        <div class="c-cart_list__list__item__img">
                          {% if gift_oi.available_thumbnail %}
                            {% assign src = gift_oi.available_thumbnail %}
                          {% else %}
                            {% assign src = 'missing' | image_url %}
                          {% endif %}
                          <div class="c-cart_list__list__item__img__inner" style="background-image:url('{{ src }}')"></div>
                        </div>
                        <div class="c-cart_list__list__item__info">
                          <!-- ギフト商品名 -->
                          <p class="c-cart_list__list__item__info__title u-text--body">{{ gift_oi.variant.name }}</p>
                          <div class="c-cart_list__list__item__info__variant u-text--body">
                            {% for option_value in gift_oi.variant.option_values %}
                              {{ option_value.option_type.presentation }}：{{ option_value.presentation }}
                              {% unless forloop.last %}&nbsp;/&nbsp;{% endunless %}
                            {% endfor %}
                          </div>
                          <div class="c-cart_list__list__item__info__total">
                            <!-- 数量 -->
                            <div class="c-cart_list__list__item__info__total__quantity u-text--body">{{ 'products.stock.quantity.value' | t }}：{{ gift_oi.quantity }}</div>
                            <!-- 単価 (税抜)  -->
                            <div class="c-cart_list__list__item__info__total__price u-text--body">&yen; {{ gift_oi.subtotal_with_campaign_discount_integer | number_with_delimiter }}</div>
                          </div>
                        </div>
                        <p class="c-cart_list__toggle-gift-target-items js-gift__toggle u-text--subhead">
                          {{ 'orders.gift.target_item.value' | t }}
                          <span class="c-cart_list__toggle-icon">
                            <i class="u-icon--minus"></i>
                            <i class="u-icon--plus"></i>
                          </span>
                        </p>
                        <div class="c-cart_list__gift-target-items">
                    {% endif %}
                          <div class="c-cart_list__list__item__info --gift">
                            <!-- 対象の商品名 -->
                            <p class="c-cart_list__list__item__info__title u-text--body">{{ gift_relation.variant.name }}</p>
                            <div class="c-cart_list__list__item__info__variant u-text--body">
                              {% for option_value in gift_relation.variant.option_values %}
                                {{ option_value.option_type.presentation }}：{{ option_value.presentation }}
                                {% unless forloop.last %}&nbsp;/&nbsp;{% endunless %}
                              {% endfor %}
                            </div>
                            {% if gift_oi.gift.noshi? %}
                              {% if gift_relation.description_part_of_noshi != blank %}
                                <p class="c-cart_list__list__item__info__text u-text--body">表書き：{{ gift_relation.description_part_of_noshi }}</p>
                              {% endif %}
                              {% if gift_relation.name_part_of_noshi != blank %}
                                <p class="c-cart_list__list__item__info__text u-text--body">名入れ：{{ gift_relation.name_part_of_noshi | escape }}</p>
                              {% endif %}
                            {% endif %}
                            <div class="c-cart_list__list__item__info__total">
                              <!-- 数量 -->
                              <div class="c-cart_list__list__item__info__total__quantity u-text--body">{{ 'products.stock.quantity.value' | t }}：{{ gift_relation.gift_quantity }}</div>
                            </div>
                          </div>
                    {% if forloop.last %}
                        </div>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              </ul>
            </div>
          {% endif %} 
          <div>
            <!-- 税率の印の説明 -->
            {% for symbol_text in order.tax_symbol_texts %}
            <span class="u-text--body">
              {{ symbol_text }}
            </span>
            {% endfor %}
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
